<div *ngIf="!user" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="user && user.author === 'active'" class="alert alert-info">You are already author</div>
<div *ngIf="user && user.author === 'pending'" class="alert alert-info">Your request is under review</div>
<div *ngIf="user && user.author === 'rejected'" class="alert alert-info">Your request is rejected. We will let you know when you can able to reapply once again.</div>
<div *ngIf="user && !user.author" class="card rounded-0 border-top-0">
  <div class="card-body py-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit harum, nesciunt odit ratione fuga doloremque? Et, corrupti? Dolorum dignissimos commodi autem cupiditate nisi quia exercitationem quam non optio, ipsum sit!</p>
    <p>Deserunt, nesciunt voluptatibus praesentium pariatur eaque nam nobis sint consectetur maiores impedit et ea. Placeat distinctio magni, quaerat et enim doloremque nesciunt minima aspernatur! Possimus laborum dolorem recusandae? Repellendus, voluptatum?</p>
    <p>Sed tenetur nihil est autem nostrum vitae ea numquam. Laudantium provident eligendi quod sit ab odit, nisi non quam a dignissimos laborum sequi facere mollitia necessitatibus maxime totam. Molestias, incidunt.</p>
    <p>Corrupti vitae, quos aspernatur necessitatibus praesentium labore facilis inventore consequuntur vero, cupiditate nesciunt est commodi laudantium. Provident sunt ea sint, aliquid est fuga fugiat officia, sapiente, necessitatibus saepe iure soluta.</p>
    <p>Ipsa dolorem rem corporis, autem tempore excepturi. Architecto, quidem? Quasi cumque hic doloribus consequuntur corrupti harum illo a nisi quod magni. Iste ducimus, et ratione exercitationem pariatur soluta odio veniam.</p>
    <p>Deserunt esse voluptatem ea officia magnam, dolor quae doloremque rerum, qui, consequatur fugit. Ratione quos vero repellat nostrum perferendis, beatae voluptates quaerat asperiores dignissimos tenetur iure harum vel! Voluptas, non?</p>
    <p>Molestiae error fugit distinctio laudantium earum deserunt, amet, quibusdam temporibus modi sed harum doloremque provident ad non nihil ut veritatis eaque maxime repellendus. Laboriosam ratione quae incidunt odio iste totam.</p>
    <p>Iusto placeat laborum totam deserunt vero quia, numquam cumque maiores nostrum enim consequuntur voluptatibus vel asperiores sint nobis in voluptate quas veritatis suscipit consectetur! Vel nostrum dolorum sed repellendus deserunt!</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary" (click)="openModal()">Request become author</button>
  </div>
</div>