<div class="card rounded-0 border-top-0">
  <div class="card-body">
    <div class="d-flex align-items-center mb-3">
      <div *ngFor="let rate of [1,2,3,4,5]">
        <svg [ngClass]="{'text-warning': rate <= review.rate}" width="16" height="16" viewBox="0 0 16 16" class="bi bi-star-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg>
      </div>
    </div>
    <a class="h5 mb-0" [routerLink]="['/course/' + review.course.id]">{{review.course.title}}</a>
    <small class="mb-3 d-block">{{(review.createdAt._seconds | amFromUnix) | amDateFormat: 'D MMM YYYY, h:mm:ss a'}}</small>
    <div [innerHTML]="review.review"></div>
  </div>
  <div class="card-footer bg-white border-0">
    <p class="m-0">By <a [routerLink]="['/profile/' + review.createdBy.uid]" >{{review.createdBy.displayName || 'No Name'}}</a></p>
  </div>
</div>