<div class="row my-3">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h5 class="m-0">Earnings report</h5>
      <button [disabled]="loading || authorsEarnings.length === 0" class="btn btn-primary" (click)="downloadCSV()">
        <fa-icon [icon]="faDownload" class="mr-1"></fa-icon>
        Download
      </button>
    </div>
  </div>
</div>
<ngx-datatable 
  [columnMode]="columnMode.flex"
  [rows]="rows"
  [loadingIndicator]="rows.length === 0"
  rowHeight="auto" 
  [columns]="[]"
  class="bootstrap"
>
  <ngx-datatable-column name="Earnings" [flexGrow]="1">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Author" [flexGrow]="3">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <a [routerLink]="['/profile/' + value.author]">
        {{value.displayName || value.email}}
      </a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>