<div class="row my-3">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h5 class="m-0">Pending Courses</h5>
    </div>
  </div>
</div>

<ngx-datatable 
  [columnMode]="columnMode.flex"
  [rows]="courses"
  [loadingIndicator]="courses.length === 0 && loading"
  rowHeight="auto" 
  [columns]="[]"
  class="bootstrap"
>
  <ngx-datatable-column name="Photo" prop="image" [flexGrow]="1" [sortable]="false">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div class="course-image" style="background-image: url({{value}});"></div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Title" prop="title" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Description" prop="description" [flexGrow]="3">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div [innerHTML]="value"></div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Creator" prop="creator" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value?.displayName || 'Author'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Actions" [sortable]="false" prop="id" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <button class="btn btn-primary mr-3" (click)="editCourse(value)">Edit</button>
      <button class="btn btn-danger" (click)="deleteCourse(value)">Delete</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>