<div *ngIf="courses.length === 0 && loading" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="courses.length === 0 && !loading">
  <div class="alert alert-warning">There is no course found</div>
</div>

<div *ngIf="courses.length > 0">
  <ul class="list-group list-group-flush">
    <li class="list-group-item border border-top-0 flex-column" [routerLink]="['/course/' + course.id]" *ngFor="let course of courses" [ngClass]="{'d-none': !course.id, 'd-flex': course.id}">
      <a class="d-block h5" [routerLink]="['/course/' + course.id]">
        <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-play-fill text-warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
        </svg>
        {{course.title}}
      </a>
      <p class="mb-1">by <a [routerLink]="['/profile/' + course.creator.uid]">{{course.creator.displayName || 'No name'}}</a></p>
      <small>{{course?.status?.completed_lessons?.length || 0}} lesson completed</small>
    </li>
  </ul>
</div>

<div *ngIf="loading" class="d-flex my-3 justify-content-center w-100">
  <button class="btn btn-link">Loading</button>
</div>

<div *ngIf="showLoadMoreBtn" class="d-flex my-3 justify-content-center w-100">
  <button class="btn" [disabled]="loading" (click)="loadMore()">Load more</button>
</div>