:host {
  display: block;
  .navbar {
    position: fixed;
    top: 64px;
    background-color: transparent;
    transition: all ease .12s;
    z-index: 9999;
  }
  .navbar-scrolled {
    top: 0px;
    background-color: #fff;
    box-shadow: 0 1px 12px #eee;
  }
}