<div *ngIf="false">
  <div *ngIf="user$ && !user$.emailVerified" class="alert alert-warning mb-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col">
          Please verify your email address
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-danger" (click)="resendVerificationEmailLink()">Resend</button>
        </div>
      </div>
    </div>
  </div>
  <nav class="w-100 navbar {{scrolled ? 'navbar-scrolled' : ''}}">
    <div class="container">
      <!-- Branding -->
      <a [routerLink]="['/']" class="navbar-brand" href="#">
        <img src="./assets/img/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
        ePlatform
      </a>
      
      <div *ngIf="!loading" class="d-flex">
        <!-- AUTHENTICATED -->
        <div class="d-flex" *ngIf="!loggedOut">
          <div ngbDropdown class="d-inline-block">
            <button class="d-flex align-items-center btn btn-light" id="userDrodown" ngbDropdownToggle>
              <div class="mr-3">
                <img [src]="user.photoURL" *ngIf="user.photoURL" width="32" class="rounded-circle" alt="{{user.displayName}}">
              </div>
              <span class="mr-3">{{user.displayName ? user.displayName : 'User'}}</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="userDrodown">
              <button [routerLink]="['/admin']" ngbDropdownItem>Admin panel</button>
              <button [routerLink]="['/user']" ngbDropdownItem>User settings</button>
              <hr>
              <button (click)="logout()" ngbDropdownItem>Logout</button>
            </div>
          </div>
        </div>
        <!-- [UN]AUTHENTICATED -->
        <button *ngIf="loggedOut" class="btn btn-outline-{{scrolled?'primary':'light'}} ml-auto">Documentation</button>
        <button *ngIf="loggedOut" [routerLink]="['/auth/login']" class="btn btn-{{scrolled?'primary':'light'}} ml-3">Login</button>
      </div>
      <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </nav>
</div>