/* You can add global styles to this file, and also import other style files */
$blue:    #1e88e5 !default;
$indigo:  #3949ab !default;
$purple:  #8e24aa !default;
$pink:    #d81b60 !default;
$red:     #e53935 !default;
$orange:  #fb8c00 !default;
$yellow:  #fdd835 !default;
$green:   #43a047 !default;
$teal:    #00897b !default;
$cyan:    #00acc1 !default;

$primary: $indigo;
$border-color: #eee;
$card-border-color: $border-color;
$list-group-border-color: $border-color;

$hr-border-color: $border-color;

$body-color: #757575;

$font-size-base: 0.875rem;
$font-size-lg: 1rem;
$font-size-sm: 0.75rem;

// Modal
$modal-backdrop-bg: #fff;
$modal-backdrop-opacity: 0.9;

@import '~bootstrap/scss/bootstrap';
@import './assets/styles/quill-editor.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.ngx-datatable.material .datatable-header {
  height: auto !important;
}

html,
body {
  background-color: #ffffff;
}

a {
  cursor: pointer;
}

.nav-pills .nav-link {
  border-radius: 30px;
  display: inline-block;
}

$box-shadow: 0px 10px 12px #eee;

// MODAL
.modal-content {
  button.close {
    outline: none !important;
  }
}

.dropdown-menu {
  box-shadow: $box-shadow;
}

.mega-menu {
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 99;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.card {
  .card-info {
    height: 100px;
    overflow: hidden;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 15px;
      background-color: #fff;
      opacity: 0.85;
      z-index: 1;
    }
  }
}

nav {
  .ng-select .ng-select-container  {
    background-color: rgba(#fff, .12);
    border: 0;
    color: #fff;
  }
  .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #fff;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #fff transparent transparent;
  }
}

.nav-tabs-custom {
  // background-color: $primary;

  .nav-item {
    border: 0;
    .nav-link {
      position: relative;
      border: 0;
      // color: rgba(#fff, .86);
      padding: 16px 0;
      margin: 0 16px;
      color: $body-color;
      &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        background: $primary;
        opacity: 0;
      }
      &.active {
        color: $primary;
        background-color: transparent;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}


quill-editor,
quill-editor {
  display: block;
  background-color: #ffffff;
}
quill-editor[disabled="true"],
quill-editor[disabled="disabled"] {
  border-radius: $border-radius;
  display: block;
  background-color: $input-disabled-bg;
}
.card-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fafafa;
  background-position: center;
  background-size: cover;
}