<div class="row my-3">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h5 class="m-0">Categories</h5>
      <button class="btn btn-primary" (click)="openModal(modalContent)">
        <fa-icon [icon]="faPlus" class="mr-1"></fa-icon>
        Add category
      </button>
    </div>
  </div>
</div>
<ngx-datatable 
  [columnMode]="columnMode.flex"
  [rows]="rows"
  [loadingIndicator]="rows.length === 0"
  rowHeight="auto" 
  [columns]="[]"
  class="bootstrap"
>
  <ngx-datatable-column name="Image" [flexGrow]="1" [sortable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <div class="category-image" style="background-image: url({{value}});"></div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Name" [flexGrow]="1">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{ value }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Description" [flexGrow]="3">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div [innerHTML]="value"></div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Action" [flexGrow]="1" [sortable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <button class="btn btn-warning">Delete</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<ng-template #modalContent>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create category</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <label for="category">Name</label>
      <input formControlName="category" name="category" type="text" class="form-control" id="category">
      <br>
      <label for="description">Description</label>
      <quill-editor id="description" [styles]="{'height': '100px'}" formControlName="description"></quill-editor>
      <br>
      <label for="image">Image</label>
      <input [disabled]="loading" (change)="uploadCategoryImage($event)" name="image" type="file" class="form-control" id="categoryImage">
      
      <div class="my-3 alert alert-danger" *ngIf="error">{{error}}</div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="loading || categoryForm.status === 'INVALID'" (click)="addCategory()" class="btn btn-primary mt-3">CREATE</button>
  </div>
</ng-template>