:host {
  display: block;
  
  .category-image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-color: #eee;
    border: 1px solid #999;
  }
}