<div class="row my-3">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h5 class="m-0">Authors</h5>
    </div>
  </div>
</div>

<ngx-datatable 
  [columnMode]="columnMode.flex"
  [rows]="users"
  [loadingIndicator]="users.length === 0 && loading"
  rowHeight="auto" 
  [columns]="[]"
  class="bootstrap"
>
  <ngx-datatable-column name="Photo" prop="photoURL" [flexGrow]="1" [sortable]="false">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <img style="width: 56px; height: 56px;" [src]="value" *ngIf="value" class="rounded-circle" alt="{{value}}">
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="User name" prop="displayName" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="City" prop="city" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Country" prop="country" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Author" prop="author" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <small class="text-muted"><i>{{value !== 'active'?'user':'author'}}</i></small>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Request info" [sortable]="false" prop="author_data" [flexGrow]="2">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div [innerHTML]="value.authorRequestInfo"></div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Request info" [sortable]="false" prop="author_data" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <a class="d-block" *ngIf="value.taxDocument" [href]="value?.taxDocument">Taxt document</a>
      <a class="d-block" *ngIf="value.userIdentity" [href]="value?.userIdentity">User identity</a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Actions" [sortable]="false" prop="id" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <button class="btn btn-danger" (click)="deleted(value)">Delete</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>