<ul class="sticky-top bg-white nav nav-tabs nav-tabs-custom">
  <li class="nav-item">
    <a [routerLink]="['/auth/login']" routerLinkActive="active" class="nav-link">Login</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/auth/register']" routerLinkActive="active" class="nav-link">Register</a>
  </li>
  <li class="nav-item">
    <a [routerLink]="['/auth/forgot-password']" routerLinkActive="active" class="nav-link">Reset password</a>
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>