<div class="modal-header">
  <h5 class="modal-title">
    Subscribe
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="bg-white modal-body py-0">
  <div *ngIf="membership.length === 0" class="d-flex justify-content-center p-5">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div *ngIf="membership.length > 0" class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="border-top-0 px-0" scope="col"><span class="text-muted font-weight-700">Features</span></th>
          <th class="border-top-0 text-center text-warning" scope="col"><strong>Pro Plan</strong></th>
          <th class="border-top-0 text-center" scope="col">Free Plan</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let _ of membership">
          <td class="text-muted px-0">{{_.pros}}</td>
          <td class="text-center text-warning">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/> </svg>
          </td>
          <td *ngIf="!_.isPro" class="text-center">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/> </svg>
          </td>
          <td *ngIf="_.isPro" class="text-center">
            -
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="plans.length > 0" class="modal-footer">
  <button [disabled]="loading" (click)="pay(pro['month'].id)" class="btn btn-link">
    <small>$</small>{{pro['month'].amount / 100}} / month
  </button>
  <button [disabled]="loading" (click)="pay(pro['year'].id)" class="btn btn-warning">
    <small>$</small>{{pro['year'].amount / 100}} / year
    <div class="badge badge-light">Save {{pro['discount']}}%</div>
  </button>
</div>