<div class="row my-3">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h5 class="m-0">Create a courses</h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': tabIndex == 1, 'disabled': loading}" (click)="tabIndex = 1">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': tabIndex == 2, 'disabled': loading || courseFormInfo.status === 'INVALID' || !courseImage}" (click)="tabIndex = 2">Topic&Tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': tabIndex == 3, 'disabled': loading || courseFormTopicAndTags.status === 'INVALID' || courseFormInfo.status === 'INVALID' || !courseImage}" (click)="tabIndex = 3">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': tabIndex == 4, 'disabled': loading || courseFormTopicAndTags.status === 'INVALID' || courseFormInfo.status === 'INVALID' || !courseImage}" (click)="tabIndex = 4">Lessons</a>
      </li>
    </ul>
  
    <form class="py-3" [ngClass]="{'d-none': tabIndex !== 1}" [formGroup]="courseFormInfo">
      <div class="form-group">
        <label for="courseTitle">Course title</label>
        <input formControlName="title" name="title" type="text" class="form-control" id="courseTitle">
      </div>
      <div class="form-group">
        <label for="courseDescription">Course description</label>
        <quill-editor [styles]="{height: '60px'}" formControlName="description" id="description"></quill-editor>
      </div>
      <div class="form-group">
        <label for="courseImage">Course image</label>
        <input (change)="uploadcourseImage($event)" type="file" accept="image/*" class="form-control" id="courseImage">
      </div>
      <div class="form-group">
        <label for="imageBy">Course image author</label>
        <input formControlName="imageBy" name="imageBy" type="text" class="form-control" id="imageBy">
      </div>
    </form>
  
    <form class="py-3" [ngClass]="{'d-none': tabIndex !== 2}" [formGroup]="courseFormTopicAndTags">
      <div class="form-group">
        <label>Course topic</label>
        <ng-select 
          [items]="categories"
          bindValue="id"
          bindLabel="category"
          formControlName="topic"
          placeholder="Search and enter"
        ></ng-select>
      </div>
      <div class="form-group">
        <label>Course tags</label>
        <ng-select 
          formControlName="tags"
          [items]="[]"
          [addTag]="true"
          [multiple]="true"
          [selectOnTab]="true"
          [isOpen]="false"
          placeholder="Enter to add item"
        ></ng-select>
      </div>
    </form>
  
    <form class="py-3" [ngClass]="{'d-none': tabIndex !== 3}">
      <div class="form-group">
        <label for="courseResource">Course resources</label>
        <input (change)="uploadCourseResource($event)" [multiple]="true" name="course_resource" type="file" class="form-control" id="courseResource">
      </div>
    </form>
  
    <form [ngClass]="{'d-none': tabIndex !== 4}" class="py-3" [formGroup]="courseFormVideos">
      <div formArrayName="videos">
        <ngb-accordion [closeOthers]="true" activeIds="acc-videos-{{activeIdForVideos}}">
          <ngb-panel *ngFor="let _ of formVideos; let index = index" id="acc-videos-{{index}}">
            <ng-template ngbPanelHeader>
              <div class="d-flex justify-content-between">
                <button ngbPanelToggle class="btn btn-link h6 m-0">
                  #{{index + 1}} Video
                </button>
                <div *ngIf="formVideos.length > 1">
                  <button (click)="removeFormVideos(index)" class="btn btn-sm btn-danger">
                    <svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div [formGroupName]="index">
            
                <div class="form-group">
                  <label>Course video file</label>
                  <input (change)="uploadVideo($event, index)" type="file" accept="video/*" class="form-control">
                </div>
                <div class="form-group">
                  <label>Course video title</label>
                  <input formControlName="videoTitle" name="videoTitle" type="text" class="form-control" id="courseVideoTitle">
                </div>
                <div class="form-group">
                  <label>Course video description</label>
                  <quill-editor [styles]="{height: '60px'}" formControlName="videoDescription"></quill-editor>
                </div>
      
                <div formArrayName="videoTranscript" class="form-group">
                  <label>Course video transcript</label>
      
                  <ngb-accordion [closeOthers]="true" activeIds="acc-{{activeIdForTranscription}}">
                    <ngb-panel *ngFor="let transcript of _.transcripts; let i = index" id="acc-{{i}}">
                      <ng-template ngbPanelHeader>
                        <div class="d-flex align-items-center justify-content-between">
                          <button ngbPanelToggle class="btn btn-link h6 m-0">#{{i + 1}} Transcription</button>
                          <div *ngIf="_.transcripts.length > 1" class="d-flex justify-content-end">
                            <button (click)="removeFormVideosTranscript(index, i)" class="btn btn-sm btn-light">
                              <svg width="20" height="20" viewBox="0 0 16 16" class="text-danger bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        <dir class="px-0" [formGroupName]="i">
                          <input placeholder="Start time in seconds" formControlName="videoTranscriptSec" name="videoTranscriptSec" type="number" class="form-control mb-3" />
                          <quill-editor [styles]="{'height': '60px'}" formControlName="videoTranscriptInfo"></quill-editor>
                        </dir>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </div>
                <div class="d-flex justify-content-end">
                  <button (click)="addFormVideosTranscript(index)" class="mx-3 btn btn-link">
                    <svg width="20" height="20" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                  </button>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
        <div class="d-flex justify-content-center my-3">
          <button (click)="addFormVideos()" class="btn btn-lg btn-link">
            <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
          </button>
        </div>
      </div>
    </form>
    
    
    <div class="alert my-3 alert-danger w-100" *ngIf="error">{{error | json}}</div>
    <button (click)="tabIndex = 2" *ngIf="tabIndex === 1" [disabled]="loading || courseFormInfo.status === 'INVALID' || !courseImage" class="btn btn-primary">Next</button>
    <button (click)="tabIndex = 3" *ngIf="tabIndex === 2" [disabled]="loading || courseFormTopicAndTags.status === 'INVALID'" class="btn btn-primary">Next</button>
    <button (click)="tabIndex = 4" *ngIf="tabIndex === 3" [disabled]="loading" class="btn btn-primary">Next</button>
    <button 
      *ngIf="tabIndex === 4 && uploading === 0" 
      [disabled]="loading ||
        courseFormVideos.status === 'INVALID' || 
        courseFormInfo.status === 'INVALID' || 
        !courseImage || 
        courseFormTopicAndTags.status === 'INVALID'
      "
      (click)="submit()" 
      class="btn btn-primary"
    >Submit</button>
    <button *ngIf="uploading > 0" class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{uploading}}%
    </button>
  </div>
  <div class="col-12 col-md-4">
    <h5>Tips</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda a molestiae incidunt dolorum porro, qui dicta quae maxime exercitationem veritatis quas fugiat aliquam recusandae doloremque possimus ab omnis iure obcaecati.</p>
  </div>
</div>