<div *ngIf="rates.length === 0 && loading" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="rates.length === 0 && !loading">
  <div class="alert alert-warning">There is no reviews found</div>
</div>

<eplatform-render-review-static 
  *ngFor="let review of rates;"
  [review]="review"
></eplatform-render-review-static>

<div *ngIf="loading" class="d-flex my-3 justify-content-center w-100">
  <button class="btn btn-link">Loading</button>
</div>

<div *ngIf="showLoadMoreBtn" class="d-flex my-3 justify-content-center w-100">
  <button class="btn" [disabled]="loading" (click)="loadMore()">Load more</button>
</div>