<div *ngIf="!loading" class="card rounded-0">
  <div class="card-body">
    <button (click)="reloadNotification()" class="btn btn-primary">Refresh</button>
  </div>
</div>
<div *ngIf="notifications.length === 0 && loading" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="notifications.length === 0 && !loading" class="card rounded-0">
  <div class="card-body">
    <div class="alert alert-warning">There is no notification found</div>
  </div>
</div>
<div *ngFor="let notification of notifications">
  <div class="card rounded-0 border-top-0">
    <div class="card-body">
      <div *ngIf="notification.content === 'comment' && notification.type === 'new'">
        <h6>Commented to <a [routerLink]="['/course/' + notification.course.id + '/' + notification.videoId]">{{notification.course.title}}</a></h6>
        <a class="text-link" (click)="openComment(notification.comment, notification.courseId, notification.videoId, notification.comment.repliedTo)" [innerHTML]="notification.comment.comment"></a>
      </div>

      <div *ngIf="notification.content === 'course' && notification.type === 'deleted'">
        <h6 class="text-danger">Course rejected or deleted</h6>
        <a>{{notification?.course?.title}}</a>
      </div>

      <div *ngIf="notification.content === 'course' && notification.type === 'accepted'">
        <h6 class="text-success">Course accepted</h6>
        <p>
          🎉 Congratulations!
          <a [routerLink]="['/course/' + notification?.course?.id]">{{notification?.course?.title}}</a>
          is accepted!
        </p>
      </div>

      <div *ngIf="notification.content === 'pending_course' && notification.type === 'requested'">
        <a class="d-block h6" [routerLink]="['/admin/requested-courses']">Requested new course</a>
        <a [routerLink]="['/course/' + notification.course.id]">{{notification.course.title}}</a>
      </div>

      <div *ngIf="notification.content === 'author' && notification.type === 'warning'">
        <h6 class="text-danger">Your author account is rejected</h6>
        <p>You can not able to publish courses anymore</p>
      </div>

      <div *ngIf="notification.content === 'author' && notification.type === 'requested'">
        <a [routerLink]="['/admin/authors-pending']" class="h6 text-info">Requested to become author</a>
      </div>
      <div *ngIf="notification.content === 'author' && notification.type === 'success'">
        <h6 class="text-success">Your author account is accepted</h6>
        <p>🎉 Congratulations! You can now able to publish courses</p>
      </div>
      <div *ngIf="notification.content === 'subscription' && notification.type === 'active'">
        <h6 class="text-success">Subscription active</h6>
        <p>Subscription activated</p>
      </div>
      <div *ngIf="notification.content === 'subscription' && notification.type === 'canceled'">
        <h6 class="text-danger">Subscription canceled</h6>
        <p>Your current subscription canceled and deleted. You have to resubscribe in order to activate PRO account</p>
      </div>
      <div *ngIf="notification.content === 'payment' && notification.type === 'success'">
        <h6 class="text-success">Payment paid</h6>
        <p>Payment paid for the subscription</p>
      </div>
      <div *ngIf="notification.content === 'payment' && notification.type === 'failed'">
        <h6 class="text-danger">Payment failed</h6>
        <p>Payment paid for the subscription</p>
      </div>
      <div *ngIf="notification.content === 'card' && notification.type === 'added'">
        <h6 class="text-success">Card added</h6>
        <p>Default payment card added</p>
      </div>
      <div *ngIf="notification.content === 'card' && notification.type === 'deleted'">
        <h6 class="text-success">Card deleted</h6>
        <p>Default payment card deleted</p>
      </div>
      <small>{{(notification?.createdAt?._seconds | amFromUnix) | amDateFormat: 'D MMM YYYY, h:mm:ss a'}}</small>
    </div>
  </div>
</div>

<div *ngIf="loading" class="d-flex justify-content-center w-100">
  <button class="btn btn-link">Loading</button>
</div>
<div *ngIf="showLoadMoreBtn" class="my-3 d-flex justify-content-center w-100">
  <button class="btn btn-link" [disabled]="loading" (click)="loadMore()">Load more</button>
</div>