<div *ngIf="courses.length === 0 && loading" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="courses.length === 0 && !loading">
  <div class="alert alert-warning">There is no course found</div>
</div>

<div *ngIf="user && courses.length > 0">
  <eplatform-render-course-static *ngFor="let course of courses;" (deleted)="deleteCourse($event)" [user]="user" [course]="course" ></eplatform-render-course-static>
</div>

<div *ngIf="loading" class="d-flex my-3 justify-content-center w-100">
  <button class="btn btn-link">Loading</button>
</div>

<div *ngIf="showLoadMoreBtn" class="d-flex my-3 justify-content-center w-100">
  <button class="btn" [disabled]="loading" (click)="loadMore()">Load more</button>
</div>