<div class="modal-header">
  <h5 class="modal-title">
    Upload course
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="reviewForm">
    <div class="form-group">
      <label for="review">Review</label>
      <textarea formControlName="review" class="form-control" id="review" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="rate">Rate</label>
      <select formControlName="rate" class="form-control" id="rate">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </form>
  <div class="alert alert-danger my-3" *ngIf="error">{{error}}</div>
</div>
<div class="modal-footer">
  <button [disabled]="loading" (click)="submit()" class="btn btn-primary">Submit</button>
</div>