<div class="modal-header">
  <h5 class="modal-title">
    Update password
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="userUpdatePasswordForm">
    <div class="form-group">
      <label for="currentPassword">Current pasword</label>
      <input formControlName="currentPassword" name="currentPassword" type="password" class="form-control" autocomplete="current-password" id="currentPassword">
    </div>
    <div class="form-group">
      <label for="newPassword">New pasword</label>
      <input formControlName="newPassword" name="newPassword" type="password" class="form-control" autocomplete="new-password" id="newPassword">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm pasword</label>
      <input formControlName="confirmPassword" name="confirmPassword" type="password" class="form-control" autocomplete="new-password" id="confirmPassword">
    </div>
    <div class="my-3 alert alert-danger" *ngIf="error">{{error?.message}}</div>
  </form>
</div>
<div class="modal-footer">
  <button [disabled]="loading || userUpdatePasswordForm.status === 'INVALID'" (click)="updatePassword()" class="btn btn-primary">Update</button>
</div>