<div class="modal-header">
  <h5 class="modal-title">
    Update email
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="userUpdateEmailForm">
    <div class="form-group">
      <label for="email">New email</label>
      <input formControlName="email" name="email" type="email" autocomplete="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="password">Confirm your password</label>
      <input formControlName="password" name="password" type="password" autocomplete="current-password" class="form-control" id="password">
    </div>
    <div class="my-3 alert alert-danger" *ngIf="error">{{error?.message}}</div>
  </form>
</div>
<div class="modal-footer">
  <button [disabled]="loading || userUpdateEmailForm.status === 'INVALID'" (click)="updateEmail()" class="btn btn-primary">Update</button>
</div>