<ul *ngIf="user" class="sticky-top bg-white nav nav-tabs nav-tabs-custom">
  <li class="nav-item">
    <a [routerLink]="['/user/info']" routerLinkActive="active" class="nav-link">Profile</a>
  </li>
  <li *ngIf="user?.pro" class="nav-item">
    <a [routerLink]="['/user/subscription']" routerLinkActive="active" class="nav-link">Subscription</a>
  </li>
  <li *ngIf="user?.pro" class="nav-item">
    <a [routerLink]="['/user/invoices']" routerLinkActive="active" class="nav-link">Invoices</a>
  </li>
  <li *ngIf="user?.author !== 'active' && user.role !== 'admin'" class="nav-item">
    <a [routerLink]="['/user/become-author']" routerLinkActive="active" class="nav-link">Become author</a>
  </li>
  <li *ngIf="user?.author === 'active'" class="nav-item">
    <a [routerLink]="['/user/uploaded-courses']" routerLinkActive="active" class="nav-link">Published courses</a>
  </li>
  <li *ngIf="user?.author === 'active' && user.role !== 'admin'" class="nav-item">
    <a [routerLink]="['/user/pending-courses']" routerLinkActive="active" class="nav-link">Pending courses</a>
  </li>
  <li *ngIf="user?.author === 'active' && user.role !== 'admin'" class="nav-item">
    <a [routerLink]="['/user/get-paid']" routerLinkActive="active" class="nav-link">Get paid</a>
  </li>
</ul>

<div *ngIf="user">
  <router-outlet></router-outlet>
</div>