<div class="modal-header">
  <h5 class="modal-title">
    Delete account
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="deleteUserForm">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="password">Re-enter your pasword</label>
          <input formControlName="password" name="password" type="password" class="form-control" autocomplete="current-password" id="password">
        </div>
      </div>
    </div>
    <div class="my-3 alert alert-danger" *ngIf="error">{{error}}</div>
  </form>
</div>
<div class="modal-footer">
  <button [disabled]="loading" (click)="deleteUser()" class="btn btn-danger">Delete account</button>
</div>