<div *ngIf="courses.length === 0 && loading" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="courses.length === 0 && !loading">
  <div class="alert alert-warning">There is no course found</div>
</div>

<div *ngIf="courses.length > 0">
  <ul class="list-group list-group-flush">
    <li class="list-group-item border border-top-0 d-flex rounded-0" *ngFor="let course of courses">
      <div class="mr-3">
        <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/></svg>
      </div>
      <div>
        <div *ngIf="course.status.rate" class="d-flex align-items-center">
          <svg width="12" height="12" viewBox="0 0 16 16" class="bi bi-star-fill text-warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>
          <p class="ml-2 my-0 text-warning">{{course.status.rate}}</p>
        </div>
        <div class="badge badge-light badge-sm">{{course.topic}}</div>
        <a class="d-block h5 m-0" [routerLink]="['/course/' + course.id]">{{course.title}}</a>
        <p class="mb-1">by <a [routerLink]="['/profile/' + course.creator.uid]">{{course.creator.displayName || 'No name'}}</a></p>
        <a *ngIf="!course.status.rate" (click)="openReview(course.id)">Give review</a>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="loading" class="d-flex my-3 justify-content-center w-100">
  <button class="btn btn-link">Loading</button>
</div>

<div *ngIf="showLoadMoreBtn" class="d-flex my-3 justify-content-center w-100">
  <button class="btn" [disabled]="loading" (click)="loadMore()">Load more</button>
</div>