:host {
  display: block;
  min-height: calc(100vh + 10px);

  ::ng-deep #mainChart .ngx-charts .line-highlight {
    display: block !important;
  }

  ::ng-deep .ngx-charts .gridline-path {
    stroke: #f5f5f5 !important;
  }
}