<section *ngIf="category" class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <img style="width: 150px;" [src]="category.image" alt="">
        <h1>{{category.category}}</h1>
        <div class="row justify-content-center">
          <div [innerHTML]="category.description" class="col-12 col-md-6 text-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container py-5">
  
  <div *ngIf="courses.length === 0 && !loading" class="alert alert-warning">There is no course found</div>
  
  <div class="row">
    <div *ngFor="let course of courses" class="col-12 col-md-4 mb-4">
      <div class="card custom-card w-100">
        <div class="custom-card-left" style="background-image: url({{course?.image}});"></div>
        <div class="custom-card-right p-3">
          <div *ngIf="course.topic">
            <div class="badge badge-light badge-sm">{{course.topic}}</div>
          </div>
          <a [routerLink]="['/course/' + course.id]" class="h5 mb-0">{{course.title}}</a>
          <p class="mb-1">by <a [routerLink]="['/profile/' + course.creator.uid]" >{{course.creator.displayName || 'author'}}</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="loading" class="d-flex justify-content-center w-100">
    <button class="btn btn-link">Loading</button>
  </div>
  <div *ngIf="showLoadMoreBtn" class="d-flex justify-content-center w-100">
    <button class="btn btn-link" [disabled]="loading" (click)="loadMore()">Load more</button>
  </div>
</div>