<div *ngIf="!currentSubscription" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="currentSubscription && currentSubscription.status !== 'canceled' && user.pro">
  <div class="card border-top-0 rounded-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex w-75">
          <div class="w-50">
            <span class="text-muted">Subscription</span>
          </div>
          <div class="w-50">
            <strong>{{currentSubscription.plan.amount / 100}} {{currentSubscription.plan.currency}}</strong> / {{currentSubscription.plan.interval}}
          </div>
        </div>
        <div>
          <button *ngIf="!currentSubscription.cancel_at_period_end" [disabled]="loading" (click)="unsubscribe()" class="btn btn-danger rounded-pill">Unsubscribe</button>
          <button *ngIf="currentSubscription.cancel_at_period_end" [disabled]="loading" (click)="reActivateSubscribe()" class="btn btn-success rounded-pill">Re-activate</button>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex w-75">
          <div class="w-50">
            <span class="text-muted">Created</span>
          </div>
          <div class="w-50">
            {{(currentSubscription.created | amFromUnix) | amLocale:'en' | amDateFormat:'MMMM Do YYYY'}} 
          </div>
        </div>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </li>
      <li *ngIf="!currentSubscription.cancel_at_period_end" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex w-75">
          <div class="w-50">
            <span class="text-muted">Payment method</span>
          </div>
          <div class="w-50">
            <span class="badge badge-primary">{{currentSubscriptionCard.brand}}</span> x-{{currentSubscriptionCard.last4}} (Expires on {{currentSubscriptionCard.exp_year}})
          </div>
        </div>
        <div>
          <button (click)="addCard()" [disabled]="loading" class="btn btn-warning rounded-pill">Add new card</button>
        </div>
      </li>
      <li *ngIf="!currentSubscription.cancel_at_period_end" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex w-75">
          <div class="w-50">
            <span class="text-muted">Next billing</span>
          </div>
          <div class="w-50">
            {{(currentSubscription.current_period_end | amFromUnix) | amLocale:'en' | amDateFormat:'MMMM Do YYYY'}}
          </div>
        </div>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </li>
      <li *ngIf="currentSubscription.cancel_at_period_end" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex w-75">
          <div class="w-50">
            <span class="text-muted">Canceled</span>
          </div>
          <div class="w-50">
            {{(currentSubscription.canceled_at | amFromUnix) | amLocale:'en' | amDateFormat:'MMMM Do YYYY'}}
          </div>
        </div>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar2-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
          <path fill-rule="evenodd" d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z"/>
        </svg>
      </li>
      <li *ngIf="currentSubscription.cancel_at_period_end" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex w-75">
          <div class="w-50">
            <span class="text-muted">PRO account will be canceled</span>
          </div>
          <div class="w-50">
            {{(currentSubscription.cancel_at | amFromUnix) | amLocale:'en' | amDateFormat:'MMMM Do YYYY'}}
          </div>
        </div>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar2-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
          <path fill-rule="evenodd" d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z"/>
        </svg>
      </li>
    </ul>
  </div>
</div>