:host {
  display: block;

  .banner-wrapper {
    position: relative;
    border-top: 1px solid #eee;
    &-title {
      margin-top: 30px;
      font-size: 38px;
      font-weight: 600;
      color: #000;
    }

    &-subtitle {
      color: rgba(#000, .72);
      font-size: 24px;
    }

    &-price {
      font-weight: 300;
    }
  }

  .seen-in-wrapper {
    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: .56;
    }
  }

  .reviews-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &-content {
      position: relative;
      padding: 80px;
      width: 600px;
      // height: 260px;
      // max-height: 260px;
      z-index: 1;
      background-color: #eee;
    }
    &-image {
      left: -60px;
      height: 448px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      border-radius: 4px;
      position: relative;
      width: 336px;
      left: -30px;
    }
  }

  .selected-videos {

    .card-image {
      height: 500px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      touch-action: none;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: #000;
        background: linear-gradient(180deg, transparent 0%, #000 100%);
      }
    }

  }

  .list-authors {
    position: relative;
    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      background: #f8f9fa;
      background: linear-gradient(180deg, transparent 0%, #f8f9fa 100%);
    }

    .img-wrapper {
      height: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      touch-action: none;
    }
    .quote-block {
      position: absolute;
      z-index: 1;
      background: #FAFAFA;
      max-width: 485px;
      margin: 0 auto;
      top: 20%;
      left: 0;
      right: 0;
      padding: 64px;
      box-shadow: 0 0 48px #555;
      border-radius: 6px;

      &-icon {
        position: relative;
        svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 auto;
          left: 0;
          right: 0;
          z-index: 2;
          width: 60px;
          height: 30px;
          background-color: #FAFAFA;
        }
      }
    }
  }
}