<div class="container">
  <nav class="navbar position-sticky navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="http://demo.academy-lms.com/default/uploads/system/logo-dark.png" width="150" alt="">
    </a>
    <button class="ml-auto btn btn-link">Login</button>
  </nav>
</div>

<!-- BANNER -->
<section class="banner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <h1 class="banner-wrapper-title">Learn today from top rated teachers</h1>
        <h3 class="banner-wrapper-subtitle">Learn from 85+ of the world's best minds</h3>
        <h5 class="banner-wrapper-price">$15/month (billed annually)</h5>
        <br>
        <p>Sign up with Google or Facebook</p>
        <form class="mb-3">
          <div class="form-group">
            <input placeholder="Your email address" type="email" class="form-control form-control-lg">
          </div>
          <button type="submit" class="btn btn-block btn-lg btn-warning">Submit</button>
          <div class="form-group form-check">
            <input checked type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep me up to date on class events and new releases.</label>
          </div>
        </form>
        <small>By sharing your email, you agree to ourTerms of ServiceandPrivacy Policy.</small>
      </div>
    </div>
    <div style="z-index: 1;" class="seen-in-wrapper py-4 d-flex align-items-center justify-content-center position-relative">
      <small>as seen in</small>
      <div class="mx-3">
        <img height="24" src="https://nomadlist.com/assets/featured/nyt-wide.png?5" alt="">
      </div>
      <div class="mx-3">
        <img height="24" src="https://nomadlist.com/assets/featured/bbc.png" alt="" srcset="">
      </div>
      <div class="mx-3">
        <img height="24" src="https://nomadlist.com/assets/featured/cnn.png" alt="" srcset="">
      </div>
    </div>
    <svg fill="#fff" style="bottom: 0px; left: 0;" viewBox="0 0 1440 120" class="position-absolute w-100 wave"><path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path></svg>
  </div>
</section>


<section class="list-authors d-flex flex-wrap">
  <div class="text-center quote-block">
    <h2>Learn anytime, anywhere, at your own pace.</h2>
    <div class="my-5 quote-block-icon">
      <hr>
      <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-bookmark-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
      </svg>
    </div>
    <p>
      Watch thousands of lessons from the best as they share their stories, skills, shortcuts, failures, and successes.
    </p>
  </div>
  <div class="p-1" style="width: calc(100% / 8);" *ngFor="let item of [1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8,1,2,3,4,5,6,7,8]">
    <div *ngIf="item === 1" class="img-wrapper rounded" style="background-image: url('https://www.masterclass.com/course-images/attachments/HNdBQDsfQZxzprkS9BvPL4Ap?width=200&height=302&fit=cover&dpr=2')"></div>
    <div *ngIf="item === 2" class="img-wrapper rounded" style="background-image: url('https://www.masterclass.com/course-images/attachments/QpxuNEFhJE8MsFqsiKQ11u1C?width=200&height=300&fit=cover&dpr=2')"></div>
    <div *ngIf="item === 3" class="img-wrapper rounded" style="background-image: url('https://www.masterclass.com/course-images/attachments/nHY87hMEZmeEmNrgVrVbVtbL?width=200&height=300&fit=cover&dpr=2')"></div>
    <div *ngIf="item === 4" class="img-wrapper rounded" style="background-image: url('https://www.masterclass.com/course-images/attachments/xDsCq22bpx2bhF5AbFvpD68V?width=200&height=300&fit=cover&dpr=2')"></div>
    <div *ngIf="item === 5" class="img-wrapper rounded" style="background-image: url('https://www.masterclass.com/course-images/attachments/k9rdveMFKgrfLZcvvxcq46yS?width=200&height=300&fit=cover&dpr=2')"></div>
    <div *ngIf="item === 6" class="img-wrapper rounded" style="background-image: url('https://www.masterclass.com/course-images/attachments/QWU7udKXXFNYsjMqVBMEchJY?width=200&height=300&fit=cover&dpr=2')"></div>
    <div *ngIf="item === 7" class="img-wrapper rounded" style="background-image: url('https://www.masterclass.com/course-images/attachments/ugoKy3muMMdjDUJ7pTpDRY4m?width=200&height=300&fit=cover&dpr=2')"></div>
    <div *ngIf="item === 8" class="img-wrapper rounded" style="background-image: url('https://www.masterclass.com/course-images/attachments/K1P5RK4cW1SZYmYehmVV7wDL?width=200&height=300&fit=cover&dpr=2')"></div>
  </div>
</section>
<section class="bg-light pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h1>Get 85+ classes across 9 categories.</h1>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light m-0 px-0 h5 py-3">Cras justo odio</li>
          <li class="list-group-item bg-light m-0 px-0 h5 py-3">Dapibus ac facilisis in</li>
          <li class="list-group-item bg-light m-0 px-0 h5 py-3">Morbi leo risus</li>
          <li class="list-group-item bg-light m-0 px-0 h5 py-3">Porta ac consectetur ac</li>
          <li class="list-group-item bg-light m-0 px-0 h5 py-3">Vestibulum at eros</li>
        </ul>
        <div class="my-4">
          <h2>$15/mo</h2>
          <h5>Billed annually</h5>
        </div>
        <button class="btn btn-block w-75 btn-lg h5 btn-warning text-uppercase">Get started</button>
      </div>
      <div class="col-12 col-md-8">
        <img src="https://www.masterclass.com/webpack/_/devices_desktop-2237c4d6f28c2df27e09d58fd6aac670.png" alt="" class="mt-n5 w-100">
      </div>
    </div>
  </div>
</section>
<section class="selected-videos container py-5">
  <div class="row">
    <div 
      *ngFor="let item of [
        'https://www.masterclass.com/course-images/attachments/ce3SwsNJRtiLU96MqFEfa3WU?width=500&dpr=2',
        'https://www.masterclass.com/course-images/attachments/N9omNoP9aSv6tpm9y7iBZvEx?width=500&dpr=2',
        'https://www.masterclass.com/course-images/attachments/aSSv8rK9DzehQ9PFV6y8F2Z8?width=500&dpr=2',
        'https://www.masterclass.com/course-images/attachments/hRCanHBzR1PfuPfj7DDcawSF?width=500&dpr=2'
      ]"
    class="col-3">
      <div class="card bg-dark text-white">
        <div class="card-image" style="background-image: url({{item}});"></div>
        <div class="card-img-overlay d-flex flex-column">
          <h5 class="card-title mt-auto">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="d-flex flex-column justify-content-center align-items-center card-body">
          <h2>85+ Classes</h2>
          <p class="m-0">From the masters</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="d-flex flex-column justify-content-center align-items-center card-body">
          <h2>20 Lessons</h2>
          <p class="m-0">Average per class</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="d-flex flex-column justify-content-center align-items-center card-body">
          <h2>10 Minutes</h2>
          <p class="m-0">Average per lesson</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container py-5">
  <h1 class="mb-4 text-center">
    Our class categories
  </h1>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Most popular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Food</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Arts & Entertainment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Home & Lifestyle</a>
    </li>
  </ul>
  <div class="row py-4">
    <div *ngFor="let item of [
      'https://www.masterclass.com/course-images/attachments/qsFaFYx6EcoYjrrhigvLRzu2?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/J2gPP1FTT7M3Y2sMwZb2Vzp8?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/HBR4Ba6DKQfaWxXAjjJC8dBR?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/qYM8i1rb5P1wRQLfm6U4gW3g?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/VCqdHm3oukqAVGxbjxcuakVM?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/EWZscaRURYCXNenjUVPLhq8n?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/W4pKcKGGYsK14JMyyDHCMUwt?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/VzQCSf91779cEWKUGVJF1r72?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/Ud8nQaqvJEiz8sAooozpHED4?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/qsFaFYx6EcoYjrrhigvLRzu2?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/J2gPP1FTT7M3Y2sMwZb2Vzp8?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/HBR4Ba6DKQfaWxXAjjJC8dBR?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/qYM8i1rb5P1wRQLfm6U4gW3g?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/VCqdHm3oukqAVGxbjxcuakVM?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/EWZscaRURYCXNenjUVPLhq8n?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/W4pKcKGGYsK14JMyyDHCMUwt?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/VzQCSf91779cEWKUGVJF1r72?width=150&height=150&fit=cover&dpr=2',
      'https://www.masterclass.com/course-images/attachments/Ud8nQaqvJEiz8sAooozpHED4?width=150&height=150&fit=cover&dpr=2'
    ]" class="col-4">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img [src]="item" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title mb-0">Gabriela Camara</h5>
              <p class="card-text">Teaches Mexican Cooking</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div *ngIf="false">
  <div class="row">
    <div class="col-12 col-md-8">
      <ul class="sticky-top bg-white border nav nav-tabs nav-tabs-custom">
        <li class="nav-item">
          <a [routerLink]="['/home/courses']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link text-uppercase">Courses</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/home/users']" routerLinkActive="active" class="nav-link text-uppercase">Users</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/home/reviews']" routerLinkActive="active" class="nav-link text-uppercase">Reviews</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="!user" class="col-12 col-md-4">
      <div class="my-3 card">
        <div class="card-body">
          <p class="m-0">
            Your course tracks will be saved here
          </p>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary" [routerLink]="['/auth/login']">Login</button>
        </div>
      </div>
    </div>
    <div *ngIf="user" class="col-12 col-md-4">
  
      <div *ngIf="in_progress_courses.length === 0 && completed_courses.length === 0" class="card my-3">
        <div class="card-body">
          <p class="m-0">
            Your course track is emtpy
          </p>
        </div>
      </div>
  
      <div class="mt-4" *ngIf="in_progress_courses && in_progress_courses.length > 0">
        <a [routerLink]="['/user/inprogress-courses']" class="h5">In progress courses</a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item flex-column" *ngFor="let course of in_progress_courses" [ngClass]="{'d-none': !course, 'd-flex': course.id}">
            <a class="d-block h5" [routerLink]="['/course/' + course.id]">
              <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-play-fill text-warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
              </svg>
              {{course.title}}
            </a>
            <p class="mb-1">by <a [routerLink]="['/profile/' + course.creator.uid]">{{course.creator.displayName || 'No name'}}</a></p>
            <small>{{course?.status?.completed_lessons?.length || 0}} lesson completed</small>
          </li>
        </ul>
      </div>
  
      <div class="mt-4" *ngIf="completed_courses && completed_courses.length > 0">
        <a [routerLink]="['/user/completed-courses']" class="h5">Completed courses</a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex border-0" *ngFor="let course of completed_courses">
            <div class="mr-3">
              <svg width="24" height="24" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/></svg>
            </div>
            <div>
              <div *ngIf="course.status.rate" class="d-flex align-items-center">
                <svg width="12" height="12" viewBox="0 0 16 16" class="bi bi-star-fill text-warning" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>
                <p class="ml-2 my-0 text-warning">{{course.status.rate}}</p>
              </div>
              <div class="badge badge-light badge-sm">{{course.topic}}</div>
              <a class="d-block h5 m-0" [routerLink]="['/course/' + course.id]">{{course.title}}</a>
              <p class="mb-1">by <a [routerLink]="['/profile/' + course.creator.uid]">{{course.creator.displayName || 'No name'}}</a></p>
              <a *ngIf="!course.status.rate" (click)="openReview(course.id)">Give review</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="bg-light py-5">
  <div class="container">
    <h1 class="text-center mb-4">What students are saying</h1>
  
    <div class="reviews-wrapper">
      <div class="rounded reviews-wrapper-content">
        <div class="h4">“I've learned a positively immeasurable amount of things from Timbaland and Natalie Portman. It gave me this sense of possibility. Like I can actually do it. I can get a Billboard hit single, and it's not that far away.”</div>
        <p>Robert, <small>Entertainer, USA</small></p>
      </div>
      <div class="rounded reviews-wrapper-image" style="background-image: url(https://www.masterclass.com/webpack/_/taylor-3x4-a9f47ab04f4278cdd58f5a5cb288db48.png?width=350&height=467&fit=cover&dpr=2);"></div>
    </div>
  </div>
</section>

<section class="container py-5">
  <h1 class="text-center mb-4">Frequently asked questions</h1>
  <h5>General</h5>
  <ul class="list-group">
    <li class="list-group-item disabled" aria-disabled="true">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</section>