<div class="row my-3">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h5 class="m-0">Reviews</h5>
    </div>
  </div>
</div>

<ngx-datatable 
  [columnMode]="columnMode.flex"
  [rows]="rates"
  [loadingIndicator]="rates.length === 0 && loading"
  rowHeight="auto" 
  [columns]="[]"
  class="bootstrap"
>
  <ngx-datatable-column name="Date" prop="createdAt" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{(value._seconds | amFromUnix) | amDateFormat: 'D MMM YYYY, h:mm:ss a'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Rate" prop="rate" [flexGrow]="1" [sortable]="false">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div class="d-flex align-items-center mb-3">
        <div *ngFor="let rate of [1,2,3,4,5]">
          <svg [ngClass]="{'text-warning': rate <= value}" width="16" height="16" viewBox="0 0 16 16" class="bi bi-star-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Review" prop="review" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div [innerHTML]="value"></div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Created by" prop="createdBy" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value.displayName || 'No Name'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Course" prop="course" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value.title}}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>