<div *ngIf="false" class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="sticky-top pt-3">
        <h4 class="mb-0 text-primary">ePlatform</h4>
        <p class="w-75">Number #1 learning management platform</p>
        <ul class="nav nav-pills flex-column my-4">
          <li class="nav-item">
            <a [ngClass]="{'disabled': loading}" class="h5 nav-link" [routerLink]="['/home']" routerLinkActive="active">
              <div class="d-flex align-items-center">
                <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-house mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>  
                Home
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'disabled': loading}" class="h5 nav-link" [routerLink]="['/messages']" routerLinkActive="active" >
              <div class="d-flex align-items-center">
                <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-envelope mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                </svg>
                Messages
                <div *ngIf="messages > 0" class="ml-1 badge badge-warning">
                  {{messages}}
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'disabled': loading}" class="h5 nav-link" [routerLink]="['/notifications']" routerLinkActive="active" >
              <div class="d-flex align-items-center">
                <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-bell mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
                  <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                </svg>
                Notifications
                <div *ngIf="notification > 0" class="ml-1 badge badge-warning">
                  {{notification}}
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'disabled': loading}" class="h5 nav-link" [routerLink]="['/user']" routerLinkActive="active" >
              <div class="d-flex align-items-center">
                <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-person mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                </svg>
                Profile
              </div>
            </a>
          </li>
          <li *ngIf="user && user.author === 'active'" class="nav-item">
            <a [ngClass]="{'disabled': loading}" class="h5 nav-link" (click)="openUploadCourse()">
              <div class="d-flex align-items-center">
                <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-plus-circle mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Publish course
              </div>
            </a>
          </li>
          <li *ngIf="user && user.role === 'admin'" class="nav-item">
            <a [ngClass]="{'disabled': loading}" class="h5 nav-link" [routerLink]="['/admin']" routerLinkActive="active">
              <div class="d-flex align-items-center">
                <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-gear mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z"/>
                  <path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z"/>
                </svg>
                Admin
              </div>
            </a>
          </li>
        </ul>
        <hr *ngIf="!loading" class="my-5">
        <div *ngIf="user && !loading" class="d-flex w-100">
          <div class="mr-3">
            <img [src]="user.photoURL" *ngIf="user.photoURL" width="70" alt="User image" class="rounded-circle">
          </div>
          <div>
            <a [routerLink]="['/profile/' + user.uid]" class="mt-0 h5 d-block">{{user?.displayName || 'No Name'}}</a>
            <button *ngIf="user.role !== 'admin' && !user.pro" class="btn btn-warning" (click)="openSubscribe()">Become <strong>PRO</strong></button>
            <div class="d-flex text-muted flex-wrap" *ngIf="user?.city || user?.country"><span>{{user?.city}}<span *ngIf="user?.city && user?.country">,</span> {{user?.country}}</span></div>
            <div class="mt-3">
              <button class="btn btn-light text-danger" (click)="logOut()">Logout</button>
            </div>
          </div>
        </div>
        <div *ngIf="!user && !loading">
          <button class="btn btn-primary" [routerLink]="['/auth/login']">Login</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div *ngIf="loading" class="py-5 d-flex w-100 justify-content-center align-items-center">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="!loading">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>