<div class="card border-top-0 rounded-0">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-5">
        <form [formGroup]="registerForm">
          <div class="form-group">
            <label for="userRegisterEmail">Email address</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                  </svg>
                </div>
              </div>
              <input type="email" formControlName="email" autocomplete="email" class="form-control" required id="userRegisterEmail">
            </div>
          </div>
          <div class="form-group">
            <label for="userRegisterPassword">Password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                  </svg>
                </div>
              </div>
              <input type="password" formControlName="password" autocomplete="new-password" class="form-control" required id="userRegisterPassword">
            </div>
          </div>
          <div class="form-group">
            <label for="userRegisterConfirmPassword">Confirm password</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                  </svg>
                </div>
              </div>
              <input type="password" formControlName="confirmPassword" autocomplete="new-password" class="form-control" required id="userRegisterConfirmPassword">
            </div>
          </div>
          <div class="my-4">
            <div class="custom-control custom-checkbox mb-3">
              <input formControlName="terms" type="checkbox" class="custom-control-input" id="check-terms">
              <label class="custom-control-label" for="check-terms">I agree to the <a [routerLink]="['/terms-and-conditions']">terms and conditions</a></label>
            </div>
            <div class="custom-control custom-checkbox">
              <input formControlName="privacy" type="checkbox" class="custom-control-input" id="check-privacy">
              <label class="custom-control-label" for="check-privacy">I agree to the <a [routerLink]="['/privacy-policy']">privacy policy</a></label>
            </div>
          </div>
          <div class="alert alert-danger" *ngIf="error">{{error}}</div>
          <button [disabled]="loading || registerForm.status === 'INVALID'" (click)="register()" class="w-100 btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>