<div class="card border-top-0 rounded-0">
  <div class="card-body">
    <h5 class="card-title">Privacy and Policy</h5>
      <p>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam modi consequatur corporis, debitis aliquid distinctio asperiores quam a. Quidem ipsa pariatur omnis quas doloribus rem numquam error, hic adipisci est!</span>
        <span>Dolorem nostrum maiores architecto fugiat porro quo eveniet amet, molestiae quae perferendis doloremque debitis, odio voluptate inventore aut. Nobis neque autem numquam veniam unde aut cumque tenetur velit obcaecati nam.</span>
        <span>Vel veniam, ex exercitationem atque necessitatibus quibusdam officiis pariatur doloribus tenetur architecto saepe inventore molestias doloremque, ducimus esse excepturi id illo amet corrupti aspernatur hic incidunt libero modi odit. In!</span>
        <span>Quod similique aspernatur adipisci alias a, eveniet, totam ad distinctio fugit earum voluptatem repellat aut optio sed repellendus neque incidunt? Iusto perspiciatis aliquid vel sunt, nam ad earum et itaque.</span>
        <span>Minima in quas assumenda qui suscipit voluptatem labore doloremque ex dolores voluptate illum, molestiae nisi voluptatibus fugit harum maiores aliquid? Aliquam veritatis exercitationem sapiente! Nihil minus aut soluta magnam atque.</span>
        <span>Minima exercitationem temporibus fuga in delectus cum hic quas quisquam iure ipsa qui perferendis pariatur repudiandae ad id sed corporis debitis quasi ullam quidem, corrupti incidunt voluptate veniam non! Iusto?</span>
        <span>Adipisci ipsam, aliquam nesciunt omnis exercitationem, neque porro eligendi similique at possimus reprehenderit! Quia, sint porro minima quis veniam ducimus eaque praesentium! Reiciendis facere rerum in eum recusandae distinctio dicta!</span>
      </p>
      <p>
        <span>Doloribus nisi, corporis totam quo veniam dolores quasi? Vero porro ipsam illo voluptatem labore eum quam a corporis dicta quos consectetur officiis expedita ab, odit fugit maiores! Quos, praesentium aliquam.</span>
        <span>Natus vitae fugiat modi, alias aliquid reiciendis at, optio adipisci eaque tempora aspernatur. Sapiente fugiat consequuntur exercitationem, eligendi autem non esse, dignissimos, atque vero blanditiis quod ipsum aliquid? Et, totam!</span>
        <span>Animi quae ad molestiae magni praesentium ipsa culpa, fugiat perferendis delectus quisquam voluptatem excepturi cumque iure sed dolor esse sunt necessitatibus id, ratione beatae repudiandae aspernatur. Sunt sequi quaerat architecto?</span>
        <span>Nostrum perferendis voluptatum optio neque doloremque itaque quo eaque id commodi minus! Placeat quia quos quae unde quaerat, optio magnam odio quisquam nostrum ut, maxime laudantium natus facere expedita voluptatem.</span>
        <span>Hic qui aliquam commodi dolor, non repudiandae libero ullam reprehenderit, temporibus eveniet placeat a officiis iste maiores nulla dolorem voluptate fuga autem ducimus deserunt. Sapiente pariatur quis minima vitae debitis!</span>
        <span>Nostrum atque laborum doloribus dolores voluptatem? Optio aliquid inventore nemo quo, perferendis doloribus alias doloremque assumenda animi, molestiae ratione facere ipsam, quos laboriosam placeat ullam voluptatem fuga perspiciatis voluptatum pariatur?</span>
        <span>Necessitatibus, amet! Et, vero deleniti! Veniam ratione fuga cum, minus dolore optio ipsam fugiat cupiditate excepturi voluptate recusandae expedita soluta nam. Assumenda eius atque eveniet eum similique porro vero magnam!</span>
      </p>
      <p>
        <span>Fugit, cum eos voluptas vel harum sequi illum veritatis commodi sit eum minima voluptatem, voluptates iusto eius! Ullam deserunt consequatur nemo voluptatem molestias harum. Iusto ipsum veritatis laudantium. Odio, odit!</span>
        <span>Ad, harum ab. Ipsa laborum expedita amet quaerat numquam excepturi vero pariatur neque deleniti voluptatibus velit earum, obcaecati quis qui laboriosam dolores cumque non ipsum rem tempore. Vitae, nisi veniam!</span>
        <span>Ipsum, placeat, quod adipisci id tempore possimus sit excepturi ut repellat cumque consequatur fugit doloribus quisquam voluptatem beatae dolorem sapiente velit. Dolores id quis eos saepe cum sit veniam tempore?</span>
        <span>Molestiae sit quam minus totam nam vel omnis sint delectus exercitationem harum velit voluptatibus iste corporis quibusdam cupiditate reprehenderit numquam autem, dolorem eos assumenda. Sapiente minus reiciendis quas nulla consequatur!</span>
        <span>Adipisci laboriosam minus iste fuga ratione nam dolorum cum, maiores ipsum quo optio nemo animi debitis expedita sequi inventore ut hic natus, blanditiis quisquam atque possimus modi? Totam, accusantium? Provident?</span>
        <span>Vel facere reprehenderit nihil optio cum nostrum error aut ipsum dolore corrupti minima, modi voluptatem atque tenetur, ipsa laborum qui iste! Beatae dolore dignissimos excepturi at ad fugit porro dolor.</span>
        <span>Voluptatem dignissimos maiores blanditiis possimus, voluptatibus expedita nihil rem doloremque consequuntur? Inventore repudiandae saepe ipsum expedita aliquam, cupiditate quas soluta rerum temporibus, atque voluptatum tempora nihil. Atque doloribus nesciunt facere?</span>
      </p>
      <p>
        <span>Nemo aspernatur iste unde nisi excepturi minus aliquam cupiditate debitis, laboriosam earum eaque in omnis minima sequi quae. Unde iste autem quisquam adipisci laborum deserunt odio eveniet praesentium dicta at!</span>
        <span>Laudantium, dolore minus labore obcaecati consequuntur ipsum repellat, sit exercitationem eveniet quisquam nesciunt, ea repudiandae omnis ratione eum. Non corporis asperiores, tenetur ab hic reiciendis aperiam pariatur voluptatum libero perspiciatis.</span>
        <span>Labore doloribus molestiae repellat minus obcaecati? Architecto ratione eligendi dignissimos soluta rem cupiditate accusantium provident voluptatem modi vero, voluptatum iusto cumque expedita officiis distinctio optio aperiam. Facere asperiores quas nisi!</span>
        <span>Sit quia molestiae error obcaecati beatae, doloremque recusandae, architecto asperiores quidem aperiam fugiat facilis non? Necessitatibus, fugit corrupti. Ipsa, a laborum? Quo, officiis commodi quasi non nobis voluptatum et consequuntur!</span>
        <span>Voluptas quisquam, consectetur ad, recusandae numquam ratione ullam doloribus ipsam hic alias quas vero cum eum eius ipsum est similique inventore. Ullam esse aspernatur consectetur eius, unde dolorum itaque quo?</span>
        <span>Harum distinctio provident, obcaecati nesciunt minima ipsam iusto voluptas fuga deleniti hic voluptates omnis tempora odio recusandae. A eos, voluptatibus minus et culpa fugit ratione repudiandae accusamus sapiente ipsam architecto.</span>
        <span>Mollitia quia sint ducimus officiis aliquam nulla voluptatum ut asperiores ab possimus architecto neque, quam soluta, quisquam veritatis repellendus obcaecati laboriosam porro vero tenetur sed dolorum! Unde pariatur odit iure?</span>
      </p>
      <p>
        <span>Dolores laudantium odio, adipisci voluptatibus fuga suscipit consequatur eligendi inventore ab quibusdam totam hic, error tempore voluptatum corrupti officiis aspernatur aliquid eos ducimus. Esse id repellat quis perspiciatis soluta culpa.</span>
        <span>Aliquam ratione quasi, eaque autem molestias explicabo suscipit accusantium error, maiores voluptatem quam inventore nostrum optio eligendi itaque tenetur laborum. Nam aut voluptas magnam molestias culpa necessitatibus impedit nemo odit?</span>
        <span>Exercitationem sit amet impedit, laudantium eveniet consectetur iste vel assumenda quas odio nulla quaerat nam corporis sequi ratione deserunt ea quidem iure dolores culpa aperiam! Libero ipsa sit hic autem!</span>
        <span>Dolorem maiores ex est, ea temporibus nesciunt asperiores repellat laudantium deleniti, facere, praesentium nihil suscipit odio natus dolores mollitia a quia maxime quos nobis labore? Repellendus excepturi id sed labore.</span>
        <span>Saepe magnam quasi voluptates consectetur vel, magni recusandae hic exercitationem quod harum id minus? Iste, atque itaque repellat beatae natus quaerat odit, commodi doloribus officia porro, alias veritatis eos praesentium.</span>
        <span>Molestias dolorem deserunt sed autem velit facilis sapiente cupiditate porro. Reprehenderit quod dolorum totam nam aliquam ratione, cumque porro iusto exercitationem, eveniet nostrum mollitia, molestias facilis suscipit est sapiente quae?</span>
        <span>Magni architecto quibusdam placeat sed quaerat aliquid minus perspiciatis voluptatum temporibus! Mollitia accusantium ullam magnam eveniet illo pariatur itaque voluptatem nulla officiis quibusdam ipsam non saepe dolorum molestias, laboriosam maxime.</span>
      </p>
      <p>
        <span>Officiis, soluta? Porro perferendis harum excepturi minima exercitationem quidem tempora, quis magnam eligendi officia, fugit nisi alias eum expedita perspiciatis. Maxime labore quas sapiente officia nesciunt repudiandae fugit esse tenetur.</span>
        <span>Nemo, esse vero architecto eligendi error ea delectus animi incidunt a aperiam quidem accusamus quasi soluta fugiat sint veritatis enim officia dolorem, deleniti magnam quisquam. Eos odit nobis numquam corrupti.</span>
        <span>Reiciendis, esse odio nesciunt magnam molestiae ipsam recusandae deserunt excepturi facilis quod earum obcaecati numquam iste repellendus ea quam doloribus nobis laboriosam. Maxime dignissimos sunt voluptatibus aliquam ut distinctio cupiditate!</span>
        <span>Ad delectus, error consectetur consequuntur repellendus eius odit rem mollitia, temporibus veritatis porro sit, atque natus quibusdam tenetur optio. Incidunt, molestiae debitis? Non reiciendis voluptate maxime. Esse, distinctio. Maiores, consectetur!</span>
        <span>Officiis dolorem nesciunt quo quas explicabo veniam esse ratione! Incidunt laboriosam ex doloremque cum totam voluptates rem nihil atque sapiente omnis voluptate libero, distinctio porro. Atque assumenda eveniet libero perferendis!</span>
        <span>Totam delectus modi facilis earum temporibus odio quam fuga libero velit eius, reiciendis cumque praesentium commodi natus eveniet! Amet, et. Modi quis officiis esse quisquam aspernatur quos eveniet porro magnam.</span>
        <span>Architecto ex officiis dolor laboriosam eveniet ullam totam nam perferendis, officia quisquam similique nihil incidunt qui nobis provident et saepe itaque non error perspiciatis labore? Tenetur aut quisquam culpa est?</span>
      </p>
      <p>
        <span>Rerum blanditiis ipsam eligendi aliquid quia quasi illum soluta laboriosam consequatur illo aut at neque totam facilis hic, qui iusto error, dolorum cum aspernatur commodi. Ullam harum obcaecati libero asperiores.</span>
        <span>Id commodi nam rerum delectus ab repellendus quidem. Deleniti mollitia fuga consequuntur minima ab, distinctio repellendus ad iure sequi temporibus aperiam nam ratione non quo laudantium facilis corporis expedita necessitatibus.</span>
        <span>Tempore, molestias quisquam? Saepe magnam libero reprehenderit quod distinctio corrupti ab aperiam, animi eius repellat vel tempora minus quae iusto eligendi facilis consequuntur, harum perspiciatis itaque asperiores voluptas facere quia.</span>
        <span>Temporibus delectus doloremque debitis in voluptate aspernatur fuga numquam magni aliquam vero reiciendis, perferendis obcaecati tempora facere corporis pariatur odit? Reiciendis similique fuga ratione quisquam quis veniam excepturi aliquid numquam.</span>
        <span>Suscipit vero autem obcaecati veritatis? Voluptatum libero esse quis corrupti natus fugiat eaque aliquid sapiente iste illum dolores, odit, eius quam commodi ducimus, aut maiores sunt similique deserunt repellat deleniti!</span>
        <span>Expedita sapiente quo laborum eius perspiciatis animi veniam nobis ea molestiae quibusdam, necessitatibus enim dolore omnis voluptatem, rem voluptates accusantium. In officia ex iusto excepturi rem error illum voluptatum omnis!</span>
        <span>Exercitationem nobis sint dolorum assumenda totam saepe, ipsam itaque reprehenderit rerum tempore architecto consectetur dignissimos nemo. Error velit odit vel, dolorem deserunt voluptatum! Fugiat, expedita aspernatur. Ad itaque placeat quia?</span>
      </p>
  </div>
</div>