<div *ngIf="loading" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="!loading" class="card rounded-0 border-top-0">
  <div class="card-body">
    <h5>Balance <strong class="text-muted">${{balance}}</strong></h5>
    <p>Payout will be sent every 15th of the month to your email account (<strong>{{user?.payoutEmail || user?.email}}</strong>)</p>
  </div>
  <div class="bg-white border-0 card-footer">
    <button (click)="open(content)" class="btn btn-success">Set account</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Set account</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="payoutAuthorForm">
      <div class="form-group">
        <label for="email">Paypal email address</label>
        <input formControlName="payoutEmail" type="email" class="form-control" id="email">
      </div>
    </form>
    <div class="alert alert-danger my-3" *ngIf="error">{{error?.message || 'error'}}}</div>
  </div>
  <div class="modal-footer">
    <button [disabled]="loading || payoutAuthorForm.status === 'INVALID'" class="btn btn-outline-dark" (click)="submit()">Submit</button>
  </div>
</ng-template>