:host {
  .sender {
    position: relative;
    overflow: hidden;
    width: 75%;
    background: orange;
    align-self: flex-end;
    border-radius: 20px;
    float: right;
  }
  .receiver {
    position: relative;
    overflow: hidden;
    width: 75%;
    background: #eee;
    border-radius: 20px;
  }
  ::ng-deep p:last-child {
    margin-bottom: 0;
  }
}