<div [style]="{'height': messagesWrapperHeight + 'px'}">
  <div class="text-center py-3" *ngIf="loading">Loading...</div>
  <div *ngIf="!loading && messages.length === 0" class="my-3 alert alert-info">There no message yet with this user</div>
  <ng-scrollbar *ngIf="!loading" smoothScroll resizeSensor (reachedBottom)="reachedBottom()" (reachedTop)="reachedTop()">
    <ul [ngClass]="{'d-none': loading}" class="list-group list-group-flush">
      <div *ngIf="loadingMore">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <li 
        *ngFor="let message of messages; let index = index; let last = last;"
        class="d-flex flex-column list-group-item bg-light border-0"
        id="{{last ? 'lastIndex': 'scroll-' + index}}"
      >
        <div class="{{message.creator === recieverUID ? 'receiver bg-white' : 'bg-primary text-white sender'}} p-3 w-75">
          <div [innerHTML]="message.message | render"></div>
        </div>
        <small class="{{message.creator !== recieverUID ? 'text-right':'text-left'}}">{{(message?.created?.seconds | amFromUnix) | amDateFormat: 'D MMM YYYY, h:mm:ss a'}}</small>
      </li>
    </ul>
  </ng-scrollbar>
</div>

<form class="d-flex p-4" [formGroup]="commentsForm">
  <quill-editor class="w-100" [styles]="{height: '50px'}" placeholder="" formControlName="message"></quill-editor>
  <div>
    <button (click)="sendMsg()" class="btn btn-primary ml-3" type="submit">
      Send
    </button>
  </div>
</form>