<div class="card" *ngIf="error">
  <div class="card-body">
    <div class="alert alert-warning">
      Course deleted or not exist!
    </div>
  </div>
  <div class="card-footer border-0 bg-white">
    <button [routerLink]="['/home/courses']" class="btn btn-primary">Browse courses</button>
  </div>
</div>
<div *ngIf="!error">
  <div *ngIf="!course" class="">
    <div class="row justify-content-center my-5">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div class="my-3 alert alert-warning" *ngIf="error">{{error}}</div>
  <div *ngIf="course" class="py-3">
    <div *ngIf="!course.active" class="alert alert-warning my-3">Course is pending</div>
    <div class="bg-course">
      <img [src]="course.image" alt="" class="w-100">
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <h4 class="mt-4">
          {{course.title}}
          <div class="badge badge-primary">{{course.topic}}</div>
        </h4>
        <div class="d-flex mb-4">
          <span *ngIf="course.course_completed_users" class="mr-3">Completed: {{course.course_completed_users}}</span>
          <span *ngIf="course.review" class="mr-3">Reviews: {{course.review}}</span>
        </div>
        <div [innerHTML]="course.description"></div>
        <div class="bg-light p-4 my-4">
          <small>LESSONS</small>
          <div class="list-group">
            <a *ngFor="let lesson of course.lessons" [routerLink]="[lesson.id]" class="rounded border mt-1 list-group-item list-group-item-action">
              <div class="d-flex w-100 align-items-center">
                <div class="d-flex mr-3 align-items-center">
                  <svg *ngIf="lesson.completed" width="16" height="16" viewBox="0 0 16 16" class="bi bi-check2-circle text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
                  </svg>
                  <svg *ngIf="!lesson.completed" width="16" height="16" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                  </svg> 
                </div>
                <h6 class="mb-1">{{lesson.videoTitle}}</h6>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="rates.length === 0 && loading" class="d-flex justify-content-center py-5">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div class="mb-4" *ngIf="rates && rates.length > 0">
          <h5 class="mb-3">Reviews ({{course?.review || rates.length}})</h5>
          
          <eplatform-render-review-static 
            *ngFor="let review of rates;"
            [review]="review"
          ></eplatform-render-review-static>
          
          <div *ngIf="loading" class="d-flex my-3 justify-content-center w-100">
            <button class="btn btn-link">Loading</button>
          </div>
          
          <div *ngIf="showLoadMoreBtn" class="d-flex my-3 justify-content-center w-100">
            <button class="btn" [disabled]="loading" (click)="loadMore()">Load more</button>
          </div>

        </div>
        <div class="d-flex flex-wrap">
          <div *ngFor="let tag of course.tags" class="d-flex align-items-center mr-3">
            <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-tag mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z"/>
              <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
            </svg>
            {{tag}}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="py-5 d-flex flex-column align-items-center text-center">
          <img [src]="course?.creator?.photoURL" *ngIf="course.creator.photoURL" alt="" width="100" class="rounded-circle mb-3">
          <h5 class="mb-0"><span class="text-muted">By </span><a [routerLink]="['/profile/' + course?.creator?.uid]">{{course?.creator?.displayName}}</a></h5>
          <div [innerHTML]="course?.creator?.info"></div>
        </div>
      </div>
    </div>
  </div>
</div>