:host {
  display: block;
  .bg-course {
    width: 100%;
    max-height: 400px;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      min-height: 300px;
      max-height: 400px;
      background-color: #fff;
      background: white;
      background: linear-gradient(180deg, transparent 0%, white 100%);
    }
  }
}