<div class="card">
  <div class="card-header">
    <h5 class="card-title m-0">Add new card</h5>
  </div>
  <div class="card-body">
    <form class="d-flex flex-column">
      <label for="card-element">
        Credit or debit card
      </label>
      <div id="card-element"></div>
      <div class="alert alert-danger my-3" role="alert" *ngIf="error">{{error}}</div>
    </form>
  </div>
  <div class="card-footer">
    <button (click)="add()" [disabled]="loading" class="btn btn-primary">Add card</button>
  </div>
</div>