<div class="card rounded-0 border-top-0">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="course.image" class="card-img" alt="{{course.image}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a [routerLink]="['/course/' + course.id]" class="h5 d-block mb-0">
          <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
          </svg>
          {{course.title}}
        </a>
        <div class="d-flex">
          <span *ngIf="course.course_completed_users" class="mr-3">Completed: {{course.course_completed_users}}</span>
          <span *ngIf="course.review" class="mr-3">Reviews: {{course.review}}</span>
        </div>
        <p class="mb-1">A course by <a [routerLink]="['/profile/' + course.creator.uid]">{{course?.creator?.displayName || 'Author'}}</a></p>
        <small class="badge badge-primary mb-3">{{course.topic}}</small>
        <div [innerHTML]="course.description" class="card-info overflow-hidden mb-3"></div>
      </div>
      <div *ngIf="course.id !== 'new-course830640' && course.id !== 'nodejs-learning338672' && course.id !== 'angular-for-beginners622920'" class="d-flex justify-content-end card-footer bg-white border-0">
        <button *ngIf="!user" class="btn btn-warning">Join & Watch</button>
        <button [disabled]="loading" (click)="acceptCourse()" *ngIf="user && (user.role === 'admin' && !course.active)" class="btn ml-3 btn-success">Accept</button>
        <button [disabled]="loading" (click)="editCourse()" *ngIf="user && (user.role === 'admin' || user.uid === course.creator.uid)" class="btn ml-3 btn-warning">Edit</button>
        <button [disabled]="loading" (click)="deleteCourse()" *ngIf="user && (user.role === 'admin' || user.uid === course.creator.uid)" class="btn ml-3 btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>