<div *ngIf="!user && !loading" class="my-3 alert alert-warning">
  User not found or deleted.
</div>
<eplatform-render-user-static
  [currentUser]="currentUser"
  [user]="user"
  *ngIf="user"
  class="d-block bg-light sticky-top"
></eplatform-render-user-static>

<div *ngIf="courses.length === 0 && loading && !user" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="user && courses.length === 0 && !loading">
  <div class="alert alert-warning">There is no course found</div>
</div>
<div *ngIf="user && courses.length > 0">
  <eplatform-render-course-static *ngFor="let course of courses;" (deleted)="deleteCourse($event)" [user]="currentUser" [course]="course" ></eplatform-render-course-static>
</div>

<div *ngIf="loading" class="d-flex my-3 justify-content-center w-100">
  <button class="btn btn-link">Loading</button>
</div>

<div *ngIf="showLoadMoreBtn" class="d-flex my-3 justify-content-center w-100">
  <button class="btn" [disabled]="loading" (click)="loadMore()">Load more</button>
</div>