<div class="card rounded-0 border-top-0">
  <div class="card-body">
    <div class="d-flex">
      <div style="width: 56px;">
        <img style="width: 56px; height: 56px;" [src]="user?.photoURL" *ngIf="user?.photoURL" class="rounded-circle" alt="{{user?.photoURL}}">
      </div>
      <div class="ml-3 w-100">
        <div class="d-flex">
          <div>
            <a [routerLink]="['/profile/' + user?.uid]" class="h5 m-0 d-block">{{user?.displayName || 'No Name'}}</a>
            <small class="text-muted"><i>{{user.author !== 'active'?'user':'author'}}</i></small>
            <div class="d-flex text-muted"><span>{{user?.city}}<span *ngIf="user.city && user.country">, </span> {{user?.country}}</span></div>
          </div>
          <div class="ml-auto">
            <button class="btn btn-light" [routerLink]="['/messages/' + user.uid]" *ngIf="user.uid !== currentUser.uid">Contact</button>
          </div>
        </div>
        <div class="mt-3" [innerHTML]="user?.info"></div>
        <div *ngIf="currentUser && currentUser.role === 'admin' && (user.author === 'pending' || user.author === 'active') && user.author_data">
          <div *ngIf="user.author_data.authorRequestInfo" [innerHTML]="user?.author_data?.authorRequestInfo"></div>
          <a class="d-block" *ngIf="user.author_data.taxDocument" [href]="user?.author_data?.taxDocument">Taxt document</a>
          <a class="d-block" *ngIf="user.author_data.userIdentity" [href]="user?.author_data?.userIdentity">User identity</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="currentUser && currentUser.role === 'admin'" class="d-flex justify-content-end border-0 bg-white card-footer">
    <button (click)="acceptAuthor()" *ngIf="user.author === 'pending'" class="ml-3 btn btn-success">Accept</button>
    <button (click)="rejectAuthor()" *ngIf="user.author === 'pending'" class="ml-3 btn btn-danger">Reject</button>
    <button (click)="deleteUser()" *ngIf="user.uid !== 'admin' && currentUser.uid === 'admin'" class="ml-3 btn btn-danger">Delete user</button>
  </div>
</div>