<div style="min-height: 447px;background-size: cover;background-position: center;" *ngIf="loading" class="d-flex align-items-center justify-content-center" style="background-image: url({{courseImg}});">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div [ngClass]="{'d-none': loading}" id="player"></div>