<div class="card border-top-0 rounded-0">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-5">
        <form [formGroup]="forgotPasswordForm">
          <div class="form-group">
            <label for="userEmail">Email address</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                  </svg>
                </div>
              </div>
              <input formControlName="email" autocomplete="email" type="email" class="form-control" id="userEmail">
            </div>
          </div>
          <button [disabled]="loading || forgotPasswordForm.status === 'INVALID'" (click)="submit()" type="submit" class="w-100 btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>