<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Subscription</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <div class="form-group">
        <label for="productName">Product name</label>
        <input formControlName="name" name="productName" type="text" class="form-control" id="productName">
      </div>
      <div class="form-group">
        <label for="productDescription">Product description</label>
        <quill-editor formControlName="description" id="description"></quill-editor>
      </div>
      <button [disabled]="loading" class="btn mr-3 btn-primary" (click)="submitProduct()">Update</button>
    </form>
  </div>
</ng-template>

<ng-template #contentPlans let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ planEditId ? 'Edit' : 'Create'}} plan</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="planForm">
      <div class="form-group">
        <label for="planTitle">Title</label>
        <input formControlName="title" name="planTitle" type="text" class="form-control" id="planTitle">
      </div>
      <div class="form-group">
        <label for="planDescription">Description</label>
        <quill-editor formControlName="description" id="description"></quill-editor>
      </div>
      <div class="form-group">
        <label for="planColor">Color</label>
        <select formControlName="color" name="planColor" type="color" class="form-control" id="planColor">
          <option value="primary"><span>Primary</span></option>
          <option value="warning"><span>Warning</span></option>
          <option value="info"><span>Info</span></option>
          <option value="danger"><span>Danger</span></option>
          <option value="success"><span>Success</span></option>
          <option value="light"><span>Light</span></option>
        </select>
      </div>

        <label for="planInterval">Interval</label>
        <select formControlName="interval" name="planInterval" type="text" class="form-control" id="planInterval">
          <option value="day">Day</option>
          <option value="week">Week</option>
          <option value="month">Month</option>
          <option value="year">Year</option>
        </select>
      </div>
      <div class="form-group">
        <label for="planProduct">Product</label>
        <select formControlName="product" name="planProduct" type="text" class="form-control" id="planProduct">
          <option *ngFor="let product of products" value="{{product.id}}">{{product.name}}</option>
        </select>
      </div>

      <hr class="my-4">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Monthly</a>
          <ng-template ngbNavContent>
            <div class="form-group">
              <label for="monthlyPlanAmount">Amount</label>
              <input formControlName="monthly_amount" name="monthlyPlanAmount" type="number" class="form-control" id="monthlyPlanAmount">
            </div>
            <div class="form-group">
              <label for="monthlyPlanCurrency">Currency</label>
              <input formControlName="monthly_currency" name="monthlyPlanCurrency" type="text" class="form-control" id="monthlyPlanCurrency">
              <small>
                Three-letter ISO currency code, in lowercase. Must be a <a href="https://stripe.com/docs/currencies">supported currency</a>.
              </small>
            </div>
          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Yearly</a>
          <ng-template ngbNavContent>
            <div class="form-group">
              <label for="yearlyPlanAmount">Amount</label>
              <input formControlName="yearly_amount" name="yearlyPlanAmount" type="number" class="form-control" id="yearlyPlanAmount">
            </div>
            <div class="form-group">
              <label for="yearlyPlanCurrency">Currency</label>
              <input formControlName="yearly_currency" name="yearlyPlanCurrency" type="text" class="form-control" id="yearlyPlanCurrency">
              <small>
                Three-letter ISO currency code, in lowercase. Must be a <a href="https://stripe.com/docs/currencies">supported currency</a>.
              </small>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="my-3"></div>


      <div *ngIf="planCreateError" class="alert alert-warning my-3">Somthing not correct</div>
      <button [disabled]="loading" class="btn mr-3 btn-primary" (click)="submitPlan()">Submit</button>
    </form>
  </div>
</ng-template>

<div class="row my-5">
  <div class="col-12">
    <h2 class="main-title mb-4">Product</h2>
    <div class="row">
      <div *ngFor="let product of products" class="col-12 col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="font-weight-normal">{{product.name}}</h4>
            <div [innerHTML]="product.description"></div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary px-5" (click)="open(content)">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-12">
    
    <div class="d-flex align-items-center mb-4">
      <h2 class="main-title m-0">Plans</h2>
      <button (click)="open(contentPlans)" class="ml-auto my-0 btn btn-primary">Create Plan</button>
    </div>
    <div class="mb-3 alert alert-warning">Deleting plans means new subscribers can’t be added. Existing subscribers aren’t affected.</div>
    <div class="mb-3 alert alert-info">By design, you cannot change a plan’s ID, amount, currency, or billing cycle.</div>
    
    <div *ngIf="plans" class="card" style="width: 320px">
      <div class="card-body">
        <h3>Yearly: {{plans.yearlyPlan.amount / 100}} {{plans.yearlyPlan.currency}}</h3>
        <h3>Monthly: {{plans.monthlyPlan.amount / 100}} {{plans.monthlyPlan.currency}}</h3>
      </div>
      <div class="card-footer">
        <button (click)="deletePlan(plans.id)" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6" *ngFor="let plan of plans">
        <h4 class="mb-3 text-center">{{plan.title}}</h4>
        <button [disabled]="loading" (click)="deletePlan(plan.id)" type="button" class="btn btn-block btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="row my-5">
  <div class="col-12">
    <h2 class="main-title m-0">Earning</h2>
  </div>
</div> -->