<div *ngIf="!course" class="container">
  <div class="row justify-content-center my-5">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<section *ngIf="course" class="py-3">
  <div class="container" *ngIf="!user">
    <div class="alert alert-warning m-0">
      Please login to see the course videos
    </div>
  </div>
  <div *ngIf="user" class="container">
    <div *ngIf="!course.active" class="alert alert-warning">Course is pending</div>
    <div *ngIf="!lesson.videoURL">
      <div class="alert alert-warning m-0">
        Please upgrade to <strong>PRO</strong> your account in order to watch videos
      </div>
    </div>
    <div *ngIf="lesson.videoURL" class="row">
      <div class="col-12">
        <div *ngIf="(user.uid === course.creator.uid || user.role === 'admin') && !course.active">
          <iframe class="w-100" height="400" [src]="lesson.videoURL | safe: 'resourceUrl'" frameborder="0" allowfullscreen></iframe>
        </div>
        <div *ngIf="course.active">
          <eplatform-render-video 
            *ngIf="lesson.videoURL" 
            [courseId]="course.id" 
            [courseImg]="course.image"
            [author]="course.creator" 
            [videoURL]="lesson.videoURL"
          ></eplatform-render-video>
        </div>
      </div>
    </div>
  </div>
</section>
<section *ngIf="course && lesson">
  <div class="container py-3">
    <div class="row">
      <div class="col-12 col-md-8">
        <ul ngbNav #nav="ngbNav" class="nav-tabs nav-tabs-custom">
          <li ngbNavItem>
            <a ngbNavLink>
              <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-file-earmark-text mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
              </svg>
              Description
            </a>
            <ng-template ngbNavContent>
              <div class="py-3">
                <div class="d-flex mb-3">
                  <div class="form-check">
                    <input #courseCompleted id="courseCompleted" (change)="completeCourseLesson(courseCompleted.checked)" class="form-check-input" type="checkbox" value="">
                  </div>
                  <h5 class="m-0">{{lesson.videoTitle}}</h5>
                </div>
                <div [innerHTML]="lesson.videoDescription"></div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>
              <svg width="18" height="18" viewBox="0 0 16 16" class="bi bi-file-earmark-text mr-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
              </svg>
              Transcript
            </a>
            <ng-template ngbNavContent>
              <div class="card border-top-0 rounded-0" *ngFor="let videoTranscript of lesson.videoTranscript">
                <div class="card-body d-flex">
                  <div style="min-width: 100px;max-width: 100px;">
                    <button [disabled]="!lesson.videoURL" (click)="setVideoTime(videoTranscript.videoTranscriptSec)" class="btn btn-link">
                      {{videoTranscript.videoTranscriptSec | seconds}}
                    </button>
                  </div>
                  <div class="w-100 flex-wrap" [innerHTML]="videoTranscript.videoTranscriptInfo"></div>
                </div>
              </div>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>
              <svg width="18" height="18" viewBox="0 0 16 16" class="mr-3 bi bi-chat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
              </svg>
              Comments ({{lesson.comments || 0}})
            </a>
            <ng-template ngbNavContent>
              <eplatform-render-comments *ngIf="query" [query]="query"></eplatform-render-comments>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <div class="card-header bg-white border-0">
            <a [routerLink]="['/course/' + course.id]" class="h5 m-0">{{course.title}}</a>
          </div>
          <div class="card-body p-0">
            <a 
              *ngFor="let video of course.lessons; let index = index;" 
              [routerLink]="['/course/' + video.course + '/' + video.id]" 
              class="list-group-item border-0 list-group-item-action"
              [ngClass]="{'active': query.videoId === video.id, 'disabled': loading}"
            >
              <div class="d-flex w-100 align-items-center">
                <div class="d-flex mr-3 align-items-center">
                  <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                  </svg>
                </div>
                <h6 class="mb-1">
                  {{video.videoTitle}}
                </h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>