<div class="card rounded-0 border-top-0">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <form [formGroup]="filterForm">
          <ng-select 
            [items]="categories"
            bindValue="category"
            bindLabel="category"
            [searchable]="false"
            [placeholder]="'Filter by category'"
            formControlName="filter"
            (change)="selectChange($event)"
          ></ng-select>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="courses.length === 0 && loading" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="courses.length === 0 && !loading">
  <div class="alert alert-warning">There is no course found</div>
</div>
<div *ngIf="courses.length > 0">
  <eplatform-render-course-static *ngFor="let course of courses;" (deleted)="deleteCourse($event)" [user]="user" [course]="course" ></eplatform-render-course-static>
</div>

<div *ngIf="loading" class="d-flex my-3 justify-content-center w-100">
  <button class="btn btn-link">Loading</button>
</div>

<div *ngIf="showLoadMoreBtn" class="d-flex my-3 justify-content-center w-100">
  <button class="btn" [disabled]="loading" (click)="loadMore()">Load more</button>
</div>