<div class="modal-header">
  <h5 class="modal-title">
    Update user
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="userEditForm">
    <div class="form-group">
      <label for="photoURL">User image</label>
      <input [disabled]="loading" (change)="attach($event)" name="photoURL" accept="image/*" type="file" class="form-control" id="photoURL" #photoURL>
      <div class="d-flex">
        <button (click)="deleteUserPhoto()" *ngIf="user.photoURL" class="btn btn-danger mt-3 d-flex align-items-center">
          <div *ngIf="user.photoURL" class="mr-3 avatar-image" style="width: 35px; height: 35px; background-image: url({{user.photoURL}});"></div>
          Delete user image
        </button>
      </div>
    </div>
    <div class="form-group">
      <label for="displayName">Full name</label>
      <input formControlName="displayName" name="displayName" type="text" class="form-control" id="displayName">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input formControlName="country" name="country" type="text" class="form-control" id="country">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input formControlName="city" name="city" type="text" class="form-control" id="city">
    </div>
    <div class="form-group">
      <label for="info">About you</label>
      <quill-editor placeholder="" formControlName="info" id="info"></quill-editor>
    </div>
    <div class="alert alert-danger my-3" *ngIf="error">{{error?.message}}</div>
  </form>
</div>
<div class="modal-footer">
  <button [disabled]="loading || userEditForm.status === 'INVALID'" (click)="submit()" type="button" class="btn btn-primary">
    Update
  </button>
</div>