:host {
  display: block;
  width: 100%;

  .avatar-image {
    position: relative;
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fafafa;

    &-btn {
      left: 0;
      top: 0;
      height: 120px;
      width: 120px;
      position: absolute;
      z-index: 1;
      opacity: 0;
    }
  }
}