<div class="card rounded-0 border-top-0">
  <div class="card-body">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dd_filter" ngbDropdownToggle>
        {{userType ? 'All teachers' : 'All users'}}
      </button>
      <div ngbDropdownMenu aria-labelledby="dd_filter">
        <button (click)="selectUserType()" ngbDropdownItem>All users</button>
        <button (click)="selectUserType('authors')" ngbDropdownItem>Authors</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="users.length === 0 && loading" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="users.length === 0 && !loading">
  <div class="alert alert-warning">There is no authors found</div>
</div>

<eplatform-render-user-static
  *ngFor="let _ of users;"
  [ngClass]="{'d-none': _.uid === 'admin'}"
  [currentUser]="user"
  (deleted)="deleted($event)"
  [user]="_"
></eplatform-render-user-static>

<div *ngIf="loading" class="d-flex my-3 justify-content-center w-100">
  <button class="btn btn-link">Loading</button>
</div>

<div *ngIf="showLoadMoreBtn" class="d-flex my-3 justify-content-center w-100">
  <button class="btn" [disabled]="loading" (click)="loadMore()">Load more</button>
</div>