<div class="modal-header bg-light" *ngIf="comment.repliedToData">
  <div class="w-100">
    <h5 [innerHTML]="comment.repliedToData.comment" class="m-0"></h5>
    <a class="d-block mr-auto" [routerLink]="['/profile/' + comment.repliedToData.creator?.uid]">
      by {{comment.repliedToData.creator?.displayName || 'user'}}
    </a>
  </div>
</div>
<div class="modal-header">
  <div class="w-100">
    <div class="h5 modal-title" [innerHTML]="comment.comment"></div>
    <a class="d-block mr-auto" [routerLink]="['/profile/' + comment.creator?.uid]">
      by {{comment.creator?.displayName || 'user'}}
    </a>
  </div>
  <button *ngIf="!comment.repliedToData" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body m-0">
  <div *ngIf="replies.length === 0 && loading" class="row">
    <div class="col-12">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div *ngIf="replies.length === 0 && !loading" class="row">
    <div class="col-12">
      <div class="alert alert-warning">There is no replies found</div>
    </div>
  </div>

  <div *ngIf="!loading">
    <div [ngClass]="{'d-none': reply.hide}" class="media mb-2" *ngFor="let reply of replies; let index = index">
      <img height="42" class="rounded-circle mr-4" [src]="comment?.createdBy?.photoURL" alt="{{comment?.createdBy?.displayName}}">
      <div class="media-body">
        <div class="d-flex">
          <a class="h5 mr-auto" [routerLink]="['/profile/' + reply.createdBy.uid]">
            {{reply?.createdBy?.displayName || 'user'}}
          </a>
          <div *ngIf="!comment.liked" class="position-relative">
            <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            <small *ngIf="comment.like && comment.like > 0" class="position-absolute badge badge-light">{{comment.like}}</small>
          </div>
          <div *ngIf="comment.liked" class="position-relative">
            <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-heart-fill text-primary" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            <small class="position-absolute badge badge-light">{{comment.like}}</small>
          </div>
        </div>
        <p class="text-uppercase text-sm text-muted">{{(reply.createdAt._seconds | amFromUnix) | amDateFormat: 'D MMM YYYY, h:mm:ss a'}}</p>
        <a (click)="reloadComments(reply)" [innerHTML]="reply.comment"></a>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="d-flex justify-content-center w-100">
    <button class="btn btn-link">Loading</button>
  </div>
  <div *ngIf="showLoadMoreBtn" class="d-flex justify-content-center w-100">
    <button class="btn btn-link" [disabled]="loading" (click)="loadMore()">Load more</button>
  </div>
</div>
<div class="modal-footer">
  <form class="w-100" [formGroup]="commentsForm">
    <quill-editor placeholder="" [styles]="{height: '50px'}" formControlName="comment">
      <div quill-editor-toolbar>
        <span class="ql-formats">
          <button class="ql-bold" [title]="'Bold'"></button>
          <button class="ql-italic" [title]="'Italic'"></button>
          <button class="ql-underline" [title]="'Underline'"></button>
        </span>
      </div>
    </quill-editor>
    <button [disabled]="loading" (click)="createCourseLessonComment()" class="btn btn-primary mt-3" type="button">
      COMMENT
    </button>
  </form>
</div>