<div class="row my-3">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h5 class="m-0">Memberships</h5>
      <button [disabled]="loading" class="btn btn-primary" (click)="open(content)">
        <fa-icon [icon]="faPlus" class="mr-1"></fa-icon>
        Add membership
      </button>
    </div>
  </div>
</div>
<ngx-datatable 
  [columnMode]="columnMode.flex"
  [rows]="membership"
  [loadingIndicator]="membership.length === 0"
  rowHeight="auto" 
  [columns]="[]"
  class="bootstrap"
>
  <ngx-datatable-column name="Pros" [flexGrow]="3">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div [innerHTML]="value"></div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="false" name="Free Plane" prop="isPro" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <fa-icon *ngIf="value" [icon]="faTimes" class="mr-1"></fa-icon>
      <fa-icon *ngIf="!value" [icon]="faCheck" class="mr-1"></fa-icon>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="false" name="Premium Plane" prop="isPro" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <fa-icon [icon]="faCheck" class="mr-1"></fa-icon>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="false" prop="id" name="Action" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <button *ngIf="membership.length > 1" [disabled]="loading" (click)="delete(value)" class="btn btn-danger">Delete</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Membership pros</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="membershipForm">
      <div class="form-group">
        <label for="pros">Pros</label>
        <input formControlName="pros" type="text" class="form-control" id="pros">
      </div>
      <div class="form-group form-check">
        <input formControlName="isPro" type="checkbox" class="form-check-input" id="isPro">
        <label class="form-check-label" for="isPro">Only for <strong>PRO</strong> users</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="loading" class="btn btn-primary" (click)="create()">Submit</button>
  </div>
</ng-template>