<aside class="sidebar bg-primary">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <fa-icon [icon]="faSmile"></fa-icon>
    <a [routerLink]="['/admin']" class="ml-3 navbar-brand">
      <strong>ePlatform</strong>
    </a>
  </nav>
  <ng-scrollbar>
    <ul class="border-0 d-flex flex-column nav nav-tabs py-3">
      <!-- <hr class="sidebar-divider m-3"> -->
      <small class="sidebar-heading px-3 mb-2 d-block">INTERFACE</small>
      <li class="nav-item">
        <a [routerLink]="['/admin/dashboard']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faChartBar"></fa-icon>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/messages']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faEnvelope"></fa-icon>
          Messages
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/notification']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faBell"></fa-icon>
          Notification
        </a>
      </li>
  
      <hr class="sidebar-divider m-3">
      <small class="sidebar-heading px-3 mb-2 d-block">COURSES</small>
      <li class="nav-item">
        <a [routerLink]="['/admin/course-create']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faPlus"></fa-icon>
          Add new course
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/courses']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faFolder"></fa-icon>
          Courses
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/courses-pending']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faFolderPlus"></fa-icon>
          Pending courses
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/comments']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faComments"></fa-icon>
          Comments
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/reviews']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faStar"></fa-icon>
          Reviews
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/categories']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faList"></fa-icon>
          Categories
        </a>
      </li>
    
      <hr class="sidebar-divider m-3">
      <small class="sidebar-heading px-3 mb-2 d-block">PAYMENTS</small>
      <li class="nav-item">
        <a [routerLink]="['/admin/payment-due']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faMoneyBill"></fa-icon>
          Pay due
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/membership']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faLock"></fa-icon>
          Membership
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/user']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faMoneyBillWave"></fa-icon>
          Subscription
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/user']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faDollarSign"></fa-icon>
          Get paid
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/user']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faReceipt"></fa-icon>
          Invoices
        </a>
      </li>
  
  
      <hr class="sidebar-divider m-3">
      <small class="sidebar-heading px-3 mb-2 d-block">USERS</small>
      <li class="nav-item">
        <a [routerLink]="['/admin/users']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faUsers"></fa-icon>
          Users
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/user']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faUserCog"></fa-icon>
          User
        </a>
      </li>
  
      <hr class="sidebar-divider m-3">
      <small class="sidebar-heading px-3 mb-2 d-block">AUTHORS</small>
      <li class="nav-item">
        <a [routerLink]="['/admin/authors']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faUserAstronaut"></fa-icon>
          Authors
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/authors-pending']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faUserPlus"></fa-icon>
          Pending authors
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/author-request']" routerLinkActive="active" class="nav-link">
          <fa-icon class="nav-link-icon" [icon]="faUserNinja"></fa-icon>
          Become author
        </a>
      </li>
  
    </ul>
  </ng-scrollbar>
</aside>
<section class="wrapper container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg">
      <button class="btn btn-light">
        <fa-icon class="nav-link-icon" [icon]="faBars"></fa-icon>
      </button>
    </nav>
  </div>
  <router-outlet></router-outlet>
</section>