:host {
  display: block;
  background-color: #ffffff;

  display: flex;
  aside.sidebar {
    top: 0;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 224px;
    color: #f5f5f5;

    .sidebar-brand {
      height: 53px;
      &-icon {
        font-size: 18px;
      }
      &-text {
        font-size: 18px;
      }
    }

    .sidebar-heading {
      color: #fff;
      opacity: .36;
    }

    .sidebar-divider {
      border-color: #ffffff;
      opacity: .18;
    }

    .nav {
      .nav-item {
        &.active {
          background-color: rgba(#fff, .3);
        }
        .nav-link {
          border: 0;
          color: #ffffff;
          opacity: .56;
          display: flex;
          
          &-icon {
            width: 30px;
          }

          &.active {
            opacity: 1;
            background-color: transparent;
            color: #ffffff;
          }
        }
      }
    }
  }
  section.wrapper {
    left: 236px;
    position: absolute;
    width: calc(100% - 248px);
    background-color: #fff;
  }
}