<div class="row my-3">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h5 class="m-0">Courses</h5>
      <button class="btn btn-primary" [routerLink]="['/admin/course-create']">
        <fa-icon [icon]="faPlus" class="mr-1"></fa-icon>
        Add course
      </button>
    </div>
  </div>
</div>

<ngx-datatable 
  [columnMode]="columnMode.flex"
  [rows]="courses"
  [loadingIndicator]="courses.length === 0 && loading"
  rowHeight="auto" 
  [columns]="[]"
  class="bootstrap"
>
  <ngx-datatable-column name="Photo" prop="image" [flexGrow]="1" [sortable]="false">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div class="course-image" style="background-image: url({{value}});"></div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Title" prop="title" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Description" prop="description" [flexGrow]="3">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <div [innerHTML]="value"></div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Creator" prop="creator" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      {{value?.displayName || 'Author'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Actions" [sortable]="false" prop="id" [flexGrow]="1">
    <ng-template let-value="value" ngx-datatable-cell-template>
      <button class="btn btn-primary mr-3" (click)="editCourse(value)">Edit</button>
      <button class="btn btn-danger" (click)="deleteCourse(value)">Delete</button>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>


<!-- <div *ngIf="courses.length === 0 && loading" class="d-flex justify-content-center py-5">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="courses.length === 0 && !loading">
  <div class="alert alert-warning">There is no course found</div>
</div>
<div *ngIf="user && courses.length > 0">
  <eplatform-render-course-static *ngFor="let course of courses;" (deleted)="deleteCourse($event)" [user]="user" [course]="course" ></eplatform-render-course-static>
</div>

<div *ngIf="loading" class="d-flex my-3 justify-content-center w-100">
  <button class="btn btn-link">Loading</button>
</div>

<div *ngIf="showLoadMoreBtn" class="d-flex my-3 justify-content-center w-100">
  <button class="btn" [disabled]="loading" (click)="loadMore()">Load more</button>
</div> -->