<div *ngIf="showLoadMoreBtn" class="d-flex justify-content-center">
  <button class="btn btn-link" [disabled]="loading" (click)="loadMoreCourseComments()">Load more</button>
</div>
<eplatform-render-comment-static
  *ngFor="let comment of comments; let index = index;"
  [comment]="comment"
  [loading]="loading"
  [query]="query"
  (openComment)="openComment($event)"
></eplatform-render-comment-static>
<div *ngIf="false" [ngClass]="{'d-none': comment.hide || comments.length === 0}" class="media">
  <img height="48" class="rounded-circle mr-3" [src]="comment?.createdBy?.photoURL" alt="{{comment?.createdBy?.displayName}}">
  <div class="media-body">
    <div class="mb-3 alert alert-secondary" *ngIf="comment.repliedTo">
      <a (click)="openComment(comment.repliedToComment, comment.repliedTo)" class="mb-0" [innerHTML]="comment.repliedToComment.comment"></a>
      <p class="mb-0">By <a [routerLink]="['/profile/' + comment.repliedToComment.createdBy.uid]" >{{comment?.repliedToComment?.createdBy?.displayName}}</a></p>
    </div>
    <a class="h5" [routerLink]="['/profile/' + comment.createdBy.uid]">{{comment?.createdBy?.displayName || 'user'}}</a>
    <p class="text-uppercase text-sm text-muted">{{(comment.createdAt._seconds | amFromUnix) | amDateFormat: 'D MMM YYYY, h:mm:ss a'}}</p>
    <a (click)="openComment(comment)" [innerHTML]="comment.comment"></a>
    <div class="d-flex align-items-center justify-content-end">
      <button [disabled]="loading" (click)="openReplyModal(openReplyModalContent, comment)" class="btn btn-link text-primary mr-3">
        <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-reply" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.502 5.013a.144.144 0 0 0-.202.134V6.3a.5.5 0 0 1-.5.5c-.667 0-2.013.005-3.3.822-.984.624-1.99 1.76-2.595 3.876C3.925 10.515 5.09 9.982 6.11 9.7a8.741 8.741 0 0 1 1.921-.306 7.403 7.403 0 0 1 .798.008h.013l.005.001h.001L8.8 9.9l.05-.498a.5.5 0 0 1 .45.498v1.153c0 .108.11.176.202.134l3.984-2.933a.494.494 0 0 1 .042-.028.147.147 0 0 0 0-.252.494.494 0 0 1-.042-.028L9.502 5.013zM8.3 10.386a7.745 7.745 0 0 0-1.923.277c-1.326.368-2.896 1.201-3.94 3.08a.5.5 0 0 1-.933-.305c.464-3.71 1.886-5.662 3.46-6.66 1.245-.79 2.527-.942 3.336-.971v-.66a1.144 1.144 0 0 1 1.767-.96l3.994 2.94a1.147 1.147 0 0 1 0 1.946l-3.994 2.94a1.144 1.144 0 0 1-1.767-.96v-.667z"/>
        </svg>
      </button>
      <button [disabled]="loading" (click)="openEditModal(openEditModalContent, comment)" class="btn btn-link text-primary mr-3">
        <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
      </button>
      <button [disabled]="loading" (click)="deleteCourseLessonComment(comment, index)" class="btn btn-link text-danger mr-3">
        <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
        </svg>
      </button>
      <button [disabled]="loading" (click)="likeComment(comment, index)" *ngIf="!comment.liked" class="btn btn-link position-relative">
        <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>
        <small *ngIf="comment.like && comment.like > 0" class="position-absolute badge badge-light">{{comment.like}}</small>
      </button>
      <button [disabled]="loading" (click)="unLikeComment(comment, index)" *ngIf="comment.liked" class="btn btn-link position-relative">
        <svg width="16" height="16" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        <small class="position-absolute badge badge-light">{{comment.like}}</small>
      </button>
    </div>
  </div>
</div>
<div *ngIf="loading && comments.length === 0" class="alert alert-light">Loading...</div>
<div *ngIf="!loading && comments.length === 0" class="alert alert-warning">No comments</div>

<hr class="my-3">

<form [formGroup]="commentsForm">
  <quill-editor placeholder="" [styles]="{height: '50px'}" formControlName="comment">
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
        <button class="ql-italic" [title]="'Italic'"></button>
        <button class="ql-underline" [title]="'Underline'"></button>
      </span>
    </div>
  </quill-editor>
  <button [disabled]="loading" (click)="createCourseLessonComment()" class="btn btn-primary mt-3" type="button">
    COMMENT
  </button>
</form>
<div class="my-3 alert alert-danger" *ngIf="error">{{error}}</div>


<ng-template #openEditModalContent>
  <div class="modal-body">
    <form class="mt-3" [formGroup]="commentsFormEdit">
      <quill-editor placeholder="" [styles]="{height: '50px'}" formControlName="comment">
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <button class="ql-bold" [title]="'Bold'"></button>
            <button class="ql-italic" [title]="'Italic'"></button>
            <button class="ql-underline" [title]="'Underline'"></button>
          </span>
        </div>
      </quill-editor>
      <button [disabled]="loading" (click)="updateCourseLessonComment()" class="btn btn-primary mt-3" type="button">
        EDIT
      </button>
    </form>
    <div class="my-3 alert alert-danger" *ngIf="error">{{error}}</div>    
  </div>
</ng-template>

<ng-template #openReplyModalContent>
  <div class="modal-body">
    <form class="mt-3" [formGroup]="commentsFormReply">
      <quill-editor placeholder="" [styles]="{height: '50px'}" formControlName="comment">
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <button class="ql-bold" [title]="'Bold'"></button>
            <button class="ql-italic" [title]="'Italic'"></button>
            <button class="ql-underline" [title]="'Underline'"></button>
          </span>
        </div>
      </quill-editor>
      <button [disabled]="loading" (click)="replyCourseLessonComment()" class="btn btn-primary mt-3" type="button">
        REPLY
      </button>
    </form>
    <div class="my-3 alert alert-danger" *ngIf="error">{{error}}</div>    
  </div>
</ng-template>