<div *ngIf="!user" class="spinner-border text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>

<div *ngIf="user" class="card border-top-0 rounded-0">
  <div class="card-body p-0">
    <div class="list-group list-group-flush">
      <a (click)="editUser()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex flex-grow-1">
          <div class="w-25">
            <span class="text-muted">Full Name</span>
          </div>
          <div class="w-75">
            {{user?.displayName || 'No name'}}
          </div>
        </div>
        <svg width="14" height="14" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
      <a (click)="editEmail()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex flex-grow-1">
          <div class="w-25">
            <span class="text-muted">Email</span>
          </div>
          <div class="w-75">
            {{user?.email}}
          </div>
        </div>
        <svg width="14" height="14" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
      <a (click)="editUser()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex flex-grow-1">
          <div class="w-25">
            <span class="text-muted">Country</span>
          </div>
          <div class="w-75">
            {{user?.country || '-'}}
          </div>
        </div>
        <svg width="14" height="14" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
      <a (click)="editUser()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex flex-grow-1">
          <div class="w-25">
            <span class="text-muted">City</span>
          </div>
          <div class="w-75">
            {{user?.city || '-'}}
          </div>
        </div>
        <svg width="14" height="14" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
      <a (click)="editUser()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex flex-grow-1">
          <div class="w-25">
            <span class="text-muted">About you</span>
          </div>
          <div class="w-75 pr-3" [innerHTML]="user?.info || '-'">
          </div>
        </div>
        <svg width="14" height="14" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
      <a (click)="editPassword()" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="d-flex flex-grow-1">
          <div class="w-25">
            <span class="text-muted">Password</span>
          </div>
          <div class="w-75">
            **********
          </div>
        </div>
        <svg width="14" height="14" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      </a>
    </div>
  </div>
  <div class="d-flex card-footer justify-content-between bg-white border-0">
    <button (click)="logOut()" class="btn btn-warning">Log out</button>
    <button (click)="deleteUser()" class="btn btn-danger">Delete profile</button>
  </div>
</div>