<div class="row">
  <div class="col-12 px-0 col-md-5 border border-top-0 border-bottom-0">
    <div [style]="{'height': wrapperHeight + 'px'}">
      <div *ngIf="loading" class="d-flex justify-content-center py-3">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <ng-scrollbar>
        <div *ngIf="rooms.length === 1 && !loading" class="alert alert-warning">There is no rooms yet</div>
        <div class="list-group">
          <a *ngFor="let room of rooms; let last = last;" (click)="selectRoom(room)" class="list-group-item border-left-0 border-right-0 rounded-0 list-group-item-action" 
          [ngClass]="{'disabled': !room.user, 'd-none': last, 'bg-primary text-white': currentURL === room.id}">
            <div *ngIf="!room.user && !last" class="alert alert-warning">User not exist</div>
            <div *ngIf="room.user" class="media media-chat">
              <div class="chat-avatar mr-3" [ngStyle]="{'background-image': 'url(' + room.user.photoURL + ')'}">
                <div class="chat-avatar-online bg-{{room.user.state === 'online'?'success':'danger'}}"></div>
              </div>
              <div class="media-body">
                <div class="mb-1">
                  <h5 class="m-0">{{room.user.displayName || 'No name'}}</h5>
                  <p class="m-0">
                    {{(room.created.seconds | amFromUnix) | amDateFormat: 'D/MM/YY h:mm a'}}
                  </p>
                </div>
                <div class="d-flex align-items-center">
                  <div class="chat-message" [innerHTML]="room.message | render"></div>
                  <div *ngIf="room.unreads > 0" class="chat-message-new bg-warning"></div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="d-flex justify-content-between p-3">
          <button [disabled]="initialCall || loading" class="btn btn-primary" *ngIf="rooms.length > 0 && !initialCall" (click)="getRooms(null)">Latest messges</button>
          <button *ngIf="rooms.length > 0 && rooms.length === (loadLimit + 1)" [disabled]="loading || rooms.length === 0 || rooms.length < (loadLimit + 1)" class="btn btn-primary" (click)="getRooms(rooms)">Load older</button>
        </div>
      </ng-scrollbar>
    </div>
  </div>
  <div class="col-12 col-md-7 bg-light">
    <div [style]="{'height': wrapperHeight + 'px'}">
      <div *ngIf="!myOutlet.isActivated" class="d-flex h-100 justify-content-center align-items-center">
        <h5>Please select room to start chatting</h5>
      </div>
      <router-outlet #myOutlet="outlet"></router-outlet>
    </div>
  </div>
</div>