:host {
  display: block;
  width: 100%;
}


// CHAT

.media-chat {

  .chat-avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #eee;

    &-offline,
    &-online {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }
  .media-body {
    position: relative;
    overflow: hidden;
  }
  .chat-message {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;

    &-new {
      position: relative;
      width: 10px;
      height: 10px;
      margin-left: 10px;
      border-radius: 50%;
    }
  }
}