<div class="modal-header">
  <h5 class="modal-title">
    Become author
  </h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="userBecomeAuthorForm">
    <div class="form-group">
      <label for="identity">Tell about yourself and your relevant works you have done</label>
      <quill-editor placeholder="" formControlName="info"></quill-editor>
    </div>
    <div class="form-group">
      <label for="identity">Provide your identity</label>
      <input (change)="upload($event, 'userIdentity')" [disabled]="loading" name="identity" type="file" class="form-control" id="identity">
    </div>
    <div class="form-group">
      <label for="tax_doc">Provide your tax information</label>
      <input (change)="upload($event, 'taxDocument')" [disabled]="loading" name="tax_doc" type="file" class="form-control" id="tax_doc">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button [disabled]="loading" (click)="submit()" class="btn btn-primary">Submit</button>
</div>